<app-print-ucaf *ngIf="(showUCAF$ | async) && (canPrintUCAF$ | async)" (onBackClick)="showUCAF$.next(false)" [ePrescriptionReferenceNumber]="ePrescriptionReferenceNumber"
    [payerMemberPhysicianInfoData]="payerMemberPhysicianInfoData" [diagnosisData]="diagnosisData.content" [drugData]="drugData.content">
</app-print-ucaf>
<app-base-page *ngIf="!(showUCAF$ | async) || !(canPrintUCAF$ | async)" headerTitle="{{'main.prescription' |
    translate}} -
    {{ePrescriptionReferenceNumber}}" [onBackClick]="onBackClick">
    <div page-main-section class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px]" *ngIf="!authService.systemLoaderVisible">
            <div class="overflow-x-auto whitespace-nowrap" *ngIf="isMemberPhysicianInfoAvailable">
                <ul class="border-b-2 border-solid border-light-grey flex items-center">
                    <li>
                        <button type="button" (click)="currentTab = 0"
                            [class]="'flex items-center body-2-medium py-12 px-16 system-transition border-b-2 border-solid -mb-2 ' + (currentTab ===0?'text-primary border-primary focus:bg-primary-50 active:bg-primary-50':'text-secondary border-transparent hover:bg-light-grey focus:bg-light-grey active:bg-light-grey')">
                            <span class="relative top-2">{{("REQUEST-DETAILS"|translate)}}</span>
                        </button>
                    </li>
                    <li *ifHasAnyAllowedAuthority="['PBM_PRESCRIPTION', 'PRESCRIPTION_SUBMISSION', 'NEW_PRESCRIPTION','FOLLOW_UP_PRESCRIPTION','CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION','PBM_ADMIN',
                    'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']">
                        <button type="button" (click)="currentTab = 1"
                            [class]="'flex items-center body-2-medium py-12 px-16 system-transition border-b-2 border-solid -mb-2 ' + (currentTab ===1?'text-primary border-primary focus:bg-primary-50 active:bg-primary-50':'text-secondary border-transparent hover:bg-light-grey focus:bg-light-grey active:bg-light-grey')">
                            <span [class]="'h-8 w-8 rounded-[8px] block ltr:mr-8 rtl:ml-8 ' + (( medicalValidations.length > 0)                
                             ? 'bg-error-500' : 'bg-success' )"></span>
                            <span class="relative top-2">{{("MEDICAL-VALIDATIONS"|translate)}}</span>
                        </button>
                    </li>
                    <li *ifHasAnyAllowedAuthority="['PBM_ADMIN','PBM_PRESCRIPTION', 'PRESCRIPTION_SUBMISSION', 'NEW_PRESCRIPTION','FOLLOW_UP_PRESCRIPTION','CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                    'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']">
                        <button type="button" (click)="currentTab = 4"
                            [class]="'flex items-center body-2-medium py-12 px-16 system-transition border-b-2 border-solid -mb-2 ' + (currentTab ===4?'text-primary border-primary focus:bg-primary-50 active:bg-primary-50':'text-secondary border-transparent hover:bg-light-grey focus:bg-light-grey active:bg-light-grey')">
                            <span [class]="'h-8 w-8 rounded-[8px] block ltr:mr-8 rtl:ml-8 ' + ((businessValidations.length > 0 )
                         ? 'bg-error-500' : 'bg-success' )"></span>
                            <span class="relative top-2">{{("BUSINESS-VALIDATIONS"|translate)}}</span>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="p-24" *ngIf="currentTab===0">
                <ng-container *ngIf="isMemberPhysicianInfoAvailable;else emptypayerMemberPhysicianInfoData">
                    <div class="row">
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'STATUS' |translate}}</label>
                                <p class="text-success body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'APPROVED' ||
                                
                                payerMemberPhysicianInfoData.status === 'DISPENSED'">
                                    {{payerMemberPhysicianInfoData.status | translate}}</p>
                                <p class="text-error body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'REJECTED' 
                                || payerMemberPhysicianInfoData.status === 'CANCELLED'">
                                    {{payerMemberPhysicianInfoData.status | translate}}</p>
                                <p class="text-error body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'INVALID'|| 
                                payerMemberPhysicianInfoData.status === 'FAILED'">
                                    {{payerMemberPhysicianInfoData.status | translate}}</p>
                                <p class="text-warning body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'PENDING'|| payerMemberPhysicianInfoData.status === 'PARTIAL_APPROVED' ||
                                payerMemberPhysicianInfoData.status === 'PARTIAL_DISPENSED'">
                                    {{payerMemberPhysicianInfoData.status | translate}}</p>
                            </div>
                        </div>
                        <div *ifHasAnyAllowedAuthority="['PRESCRIPTION_SUBMISSION', 'NEW_PRESCRIPTION', 'FOLLOW_UP_PRESCRIPTION', 'PRESCRIPTION_CANCELLATION'
                    , 'PRESCRIPTION_INQUIRY', 'DETAIL_INQUIRY', 'SUMMARY_INQUIRY', 'PRESCRIPTION_DISPENSE']" class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'customization.payer' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.payerName}}</p>
                            </div>
                        </div>
                        <div *ifHasAnyAllowedAuthority="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']" class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'prescription.provider'
                                    |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.providerName}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'MEMBER-BENEFICIARY' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.memberInfoModel?.memberName}} -
                                    {{payerMemberPhysicianInfoData.memberInfoModel?.idNumber}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'CLINICIAN' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.physicianModel?.physicianName}} -
                                    {{payerMemberPhysicianInfoData.physicianModel?.physicianLicenseNumber}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'TOTAL-PATIENT-SHARE' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.totalPatientShare}} SAR</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'TOTAL-PATIENT-SHARE-VAT-AMOUNT-VALUE & CURRENCY' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.totalPatientShareVatAmountValue}}
                                    {{payerMemberPhysicianInfoData.totalPatientShareVatAmountCurrency}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'TOTAL-NET-APPROVED' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.totalNet}} SAR</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="pb-16">
                                <label class="body-2 text-secondary !pb-2">{{'CASE-TYPE' |translate}}</label>
                                <p class="body-1">{{payerMemberPhysicianInfoData.caseType}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="pb-16" *ngIf="payerMemberPhysicianInfoData.statusDescription">
                        <label class="body-2 text-secondary !pb-2">{{'STATUS-DESCRIPTION' |translate}}</label>
                        <p class="body-1">{{payerMemberPhysicianInfoData.statusDescription}}</p>
                    </div>

                    <div class="pb-16" *ngIf="(canPrintUCAF$ | async)">
                        <waseel-button icon="left" variant="tonal" (onClick)="showUCAF$.next(true)" iconName="printer">{{'PRINT-UCAF'|translate}}</waseel-button>
                    </div>

                    <div class="bg-light-grey p-16 pb-0 mt-8 rounded-[8px] mb-24">
                        <p class="subtitle-1 pb-16">{{'MEMBER-INFO'|translate}}</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="pb-16">
                                    <label class="body-2 text-secondary !pb-2">{{'NAME' |translate}}</label>
                                    <p class="body-1">{{payerMemberPhysicianInfoData.memberInfoModel?.memberName}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pb-16">
                                    <label class="body-2 text-secondary !pb-2">{{'GENDER' |translate}}</label>
                                    <p class="body-1">{{payerMemberPhysicianInfoData.memberInfoModel?.gender}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pb-16">
                                    <label class="body-2 text-secondary !pb-2">{{'DOB' |translate}}</label>
                                    <p class="body-1">{{payerMemberPhysicianInfoData.memberInfoModel?.dob}}</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pb-16">
                                    <label class="body-2 text-secondary !pb-2">{{'AGE' |translate}}</label>
                                    <p class="body-1">{{payerMemberPhysicianInfoData.memberInfoModel?.age}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="subtitle-1 pb-16">{{'DIAGNOSIS'|translate}}</p>
                    <div class="pb-24">
                        <list-view [list]="diagnosisData" [prototype]="diagnosisListPrototype" [translateData]="[':4']" [showEditButton]="false" [showDeleteButton]="false"
                            [isLoading]="listIsLoading" [showEmptyRows]="false" (onNext)="diagnosisdataControl.pageNumber = $event.pageNumber; fetchData('DIAGNOSIS')"
                            (onPrevious)="diagnosisdataControl.pageNumber = $event.pageNumber; fetchData('DIAGNOSIS')"
                            [showItemsPerPageSelection]="showItemPerPageDropdown(diagnosisData.totalElements!)"
                            (onSizeChange)="diagnosisdataControl.recordSize = $event.pageSize; diagnosisdataControl.pageNumber=0; fetchData('DIAGNOSIS')"></list-view>
                    </div>

                    <p class="subtitle-1 pb-16">{{'DRUGS'|translate}}</p>
                    <list-view [list]="drugData" [extraClasses]="getExtraClassesForListView()" [prototype]="drugListPrototype" [translateData]="[':4']" [showEditButton]="false"
                        [showDeleteButton]="false" [hideScrollbar]="true" [isLoading]="listIsLoading" [showEmptyRows]="false"
                        (onNext)="drugsdataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')"
                        [showItemsPerPageSelection]="showItemPerPageDropdown(drugData.totalElements!)"
                        [customCells]="{quantity:quantityCustomView, useUnitType:useCustomView, duration:durationCustomView, unitPrice:priceCustomView, net:netCustomView, patientShare:patientShareCustomView,totalOfNetAndPatientShare:totalOfNetAndPatientSharecustomview,patientShareVatAmount:patientSharevatValueCustomView,status:statusShareCustomView}"
                        (onPrevious)="drugsdataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')"
                        (onSizeChange)="drugsdataControl.recordSize = $event.pageSize; drugsdataControl.pageNumber=0; fetchData('DRUGS')"></list-view>
                    <ng-template #quantityCustomView let-row="row">
                        {{row.quantity}}
                    </ng-template>
                    <ng-template #useCustomView let-row="row">
                        {{row.useUnitValue}} {{row.useUnitType}}
                    </ng-template>
                    <ng-template #durationCustomView let-row="row">
                        {{row.duration}} day(s)
                    </ng-template>
                    <ng-template #priceCustomView let-row="row">
                        {{row.unitPrice}} SAR
                    </ng-template>
                    <ng-template #totalOfNetAndPatientSharecustomview let-row="row">
                        {{row.totalOfNetAndPatientShare}} SAR
                    </ng-template>
                    <ng-template #netCustomView let-row="row">
                        {{row.net}} SAR
                    </ng-template>
                    <ng-template #patientShareCustomView let-row="row">
                        {{row.patientShare}} SAR
                    </ng-template>
                    <ng-template #patientSharevatValueCustomView let-row="row">
                        {{row.patientShareVatAmount}} {{row.patientShareVatCurrency}}
                    </ng-template>
                    <ng-template #statusShareCustomView let-row="row">
                        <div class="flex items-center">
                            <span>{{ row.status | translate }}</span>
                            <div class="group relative">
                                <waseel-icon icon="info" cssClass="h-20 w-20 text-success ltr:!ml-4 rtl:!mr-4" *ngIf="row.status === 'DISPENSED'"></waseel-icon>
                                <div class="absolute hidden max-w-[260px] min-w-[200px] overflow-auto group-hover:block rounded-[8px] shadow-2 bg-white ltr:right-0 rtl:left-0 top-0 z-[5] p-16 body-1 text-text"
                                    *ngIf="row.status === 'DISPENSED' && dispensedDetails.content && dispensedDetails.content.length > 0">
                                    <div *ngFor="let dispense of dispensedDetails.content">
                                        <div class="pb-16">
                                            <label class="body-2 text-secondary !pb-2">{{"DISPENSED-BY" | translate}}</label>
                                            <p class="body-1">{{ dispense.pharmacy }}</p>
                                        </div>
                                        <div class="pb-16 last:!pb-0">
                                            <label class="body-2 text-secondary !pb-2">{{"DISPENSE-DATE-TIME" | translate}}</label>
                                            <p class="body-1">{{ dispense.dispenseDate | date:'short' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="row.isOverridableByProvider && (!isStatusCancelledOrDispensed(payerMemberPhysicianInfoData?.status)) && (row.status ==='REJECTED')">
                            <a *ifHasAnyAllowedAuthority="['OVERRIDE_MEDICATION',]" class="underline caption text-primary cursor-pointer"
                                (click)="openProviderOverrideCommentDialog(row)">{{'OVERRIDE'|translate}}</a>
                        </ng-container>
                    </ng-template>

                </ng-container>
                <ng-template #emptypayerMemberPhysicianInfoData>
                    <no-content [message]="noContentMessage" [subtitle]="noContentSubtitle" [isSearchAgain]="noContentIsSearchAgain" [returnUrl]="returnUrl!"></no-content>
                </ng-template>
            </div>

            <div class="p-24" *ngIf="currentTab===1">
                <ng-container *ngIf="medicalValidations.length > 0; else emptyMedicalValidationState">
                    <div class="pb-24" *ngIf="drugToDiseaseContraIndicationsList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DRUG-TO-DISEASE-CONTRAINDICATIONS'|translate}}
                        </p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of drugToDiseaseContraIndicationsList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap" width="10">
                                        <waseel-button *ifHasAnyAllowedAuthority="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']" icon="left" variant="text" iconName="add" size="small"
                                            (onClick)="onAddCustomizationBtnClick(item)" [disabled]="isDisabled(item)"
                                            [title]="isDisabled(item) ? buttonTooltipText : ''">{{'ADD-CUSTOMIZATION'|translate}}</waseel-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="drugToDiseaseIndicationsList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DRUG-TO-DISEASE-INDICATIONS'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of drugToDiseaseIndicationsList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                        <waseel-button *ifHasAnyAllowedAuthority="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']" icon="left" variant="text" iconName="add" size="small"
                                            (onClick)="onAddCustomizationBtnClick(item)" [disabled]="isDisabled(item)"
                                            [title]="isDisabled(item) ? buttonTooltipText : ''">{{'ADD-CUSTOMIZATION'|translate}}</waseel-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="drugToAgeList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DRUG-TO-AGE-INTERACTION'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of drugToAgeList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="drugToGenderList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DRUG-TO-GENDER-INTERACTION'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of drugToGenderList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                        <waseel-button *ifHasAnyAllowedAuthority="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']" icon="left" variant="text" iconName="add" size="small"
                                            (onClick)="onAddCustomizationBtnClick(item)" [disabled]="isDisabled(item)"
                                            [title]="isDisabled(item) ? buttonTooltipText : ''">{{'ADD-CUSTOMIZATION'|translate}}</waseel-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="duplicateTherapyList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DUPLICATE-THERAPY'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of duplicateTherapyList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                        <waseel-button *ifHasAnyAllowedAuthority="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']" icon="left" variant="text" iconName="add" size="small"
                                            (onClick)="onAddCustomizationBtnClick(item)" [disabled]="isDisabled(item)"
                                            [title]="isDisabled(item) ? buttonTooltipText : ''">{{'ADD-CUSTOMIZATION'|translate}}</waseel-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="quantityLimitCheckList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-QUANTITY-LIMIT-CHECK'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of quantityLimitCheckList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="refillToSoonList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-REFILL-TOO-SOON'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of refillToSoonList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="drugToDrugInteractionList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-DRUG-TO-DRUG-INTERACTION'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.denialCode'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                    <th class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700" width="10">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of drugToDrugInteractionList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.denialCode}}

                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600 whitespace-nowrap">
                                        <secured-element [allowedAuthorities]="['CUSTOMIZATION_REQUEST','VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION',
                                        'BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']">
                                            <waseel-button icon="left" variant="text" iconName="add" size="small" (onClick)="onAddCustomizationBtnClick(item)"
                                                [disabled]="isDisabled(item)" [title]="isDisabled(item) ? buttonTooltipText : ''">{{'ADD-CUSTOMIZATION'|translate}}</waseel-button>
                                        </secured-element>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-24" *ngIf="errorsList.length > 0">
                        <p class="subtitle-1 pb-16">{{'PRIOR-REQUEST-ERRORS'|translate}}</p>
                        <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                            <thead>
                                <tr>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'prescription.drug'|translate}}
                                    </th>
                                    <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                        {{'MESSAGE'|translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of errorsList">
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        <ng-container *ngIf="item.drugCode !== undefined">
                                            {{item.drugName}} <br>
                                            {{item.drugCode}}
                                        </ng-container>
                                        <ng-container>
                                            {{item.scientificName}} <br>
                                            {{item.scientificCode}}
                                        </ng-container>
                                    </td>
                                    <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                        {{item.rejectionReason}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </ng-container>
                <ng-template #emptyMedicalValidationState>
                    <no-content></no-content>
                </ng-template>

            </div>

            <div class="p-24" *ngIf="currentTab===4">
                <ng-container *ngIf="businessValidations.length > 0; else emptyBusinessState">
                    <ng-container *ngFor="let category of categorizedBusinessValidations">
                        <div class="pb-24" *ngIf="category.validations.length > 0">
                            <p class="subtitle-1 pb-16">{{category.displayCode|translate}}</p>
                            <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary dark:text-neutral-100 body-2 ltr:text-left rtl:text-right">
                                <thead>
                                    <tr>
                                        <th scope="col"
                                            class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                            {{'prescription.denialCode'|translate}}
                                        </th>
                                        <th scope="col"
                                            class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                            {{'prescription.drug'|translate}}
                                        </th>
                                        <th scope="col"
                                            class="py-14 px-12 border-b-2 border-b-light-border dark:border-b-neutral-600 body-2-medium bg-neutral-25 dark:bg-neutral-700">
                                            {{'MESSAGE'|translate}}
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="system-transition hover:bg-neutral-25 dark:hover:bg-neutral-700" *ngFor="let item of category.validations">
                                        <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                            {{item.denialCode}}

                                        </td>
                                        <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                            <ng-container *ngIf="item.drugCode !== undefined">
                                                {{item.drugName}} <br>
                                                {{item.drugCode}}
                                            </ng-container>
                                            <ng-container>
                                                {{item.scientificName}} <br>
                                                {{item.scientificCode}}
                                            </ng-container>
                                        </td>
                                        <td class="py-14 px-12 border-b border-b-light-border dark:border-b-neutral-600">
                                            {{item.rejectionReason}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-template #emptyBusinessState>
                    <no-content></no-content>
                </ng-template>
            </div>
        </div>
    </div>
    <ng-container header-actions>
        <ng-container *ngIf="isCancelBtnVisible()">
            <waseel-button *ifHasAnyAllowedAuthority="['PBM_PRESCRIPTION', 'PRESCRIPTION_SUBMISSION', 'PRESCRIPTION_CANCELLATION']" variant="text" icon="left"
                class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" iconName="close" (click)="cancelPrescription()">{{'CANCEL' |
                translate}}</waseel-button>
        </ng-container>

        <ng-container *ngIf="isEditBtnVisible()">
            <waseel-button *ifHasAnyAllowedAuthority="['PBM_PRESCRIPTION', 'PRESCRIPTION_SUBMISSION', 'FOLLOW_UP_PRESCRIPTION']" variant="text" icon="left"
                class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" iconName="edit" (click)="openEditPrescriptionPage()">{{'EDIT' |
                translate}}</waseel-button>
        </ng-container>
        <ng-container
            *ngIf="payerMemberPhysicianInfoData.status === 'APPROVED' || payerMemberPhysicianInfoData.status === 'PARTIAL_APPROVED' || payerMemberPhysicianInfoData.status === 'PARTIAL_DISPENSED' || (payerMemberPhysicianInfoData.status === 'PENDING' && isAnyDrugApproved)">
            <div *ifHasAnyAllowedAuthority="['PRESCRIPTION_INQUIRY', 'DETAIL_INQUIRY', 'SUMMARY_INQUIRY','PRESCRIPTION_DISPENSE']" class="group relative inline-block">
                <ng-container *ngIf="!prescribeGenericOrBrandFlow; else goToDispensePageButton">
                    <waseel-button icon="right" [iconRtlInvert]="true" iconName="arrow-right">{{'DISPENSE' |
                        translate}}</waseel-button>
                    <div class="hidden group-focus-within:block">
                        <div class="absolute rounded-[8px] shadow-2 bg-white dark:bg-neutral-800 top-[100%] ltr:right-0 rtl:left-0 w-auto min-w-[160px] max-w-[320px] z-10">
                            <ul class="py-8">
                                <li>
                                    <button
                                        class="w-full text-start px-16 block py-10 body-2 text-text system-transition hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                        (click)="openDispenseDialog('FULL_DISPENSE')">
                                        {{'FULL-DISPENSE'|translate}}
                                    </button>
                                </li>
                                <li>
                                    <button
                                        class="w-full text-start px-16 block py-10 body-2 text-text system-transition hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                        (click)="openDispenseDialog('PARTIAL_DISPENSE')">
                                        {{'PARTIAL-DISPENSE'|translate}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-container>
                <ng-template #goToDispensePageButton>
                    <waseel-button icon="right" [iconRtlInvert]="true" iconName="arrow-right" (onClick)="openDispensePage()">{{'DISPENSE' |
                        translate}}</waseel-button>
                </ng-template>
            </div>
        </ng-container>
    </ng-container>
    <ng-container header-actions>
        <ng-container *ngIf="payerMemberPhysicianInfoData.status === 'PENDING'">
            <div *ifHasAnyAllowedAuthority="['VIEW_PRESCRIPTION','MEDICAL_CUSTOMIZATION','BUSINESS_CUSTOMIZATION', 'EDIT_PRESCRIPTION_DECISION']"
                class="group relative inline-block">
                <waseel-button (onClick)="modifyDecisionPage(ePrescriptionReferenceNumber)">{{'MODIFY-DECISION'|translate}}</waseel-button>
            </div>
        </ng-container>
    </ng-container>
</app-base-page>

<waseel-dialog (onClose)="closeDispenseDialog" *ngIf="dispenseDialogOpen" size="lg" [internalScroll]="true">
    <dispense-dialog (onClose)="closeDispensePrescriptionDialog()" [ePrescriptionReferenceNumber]="ePrescriptionReferenceNumber" [action]="action"></dispense-dialog>
</waseel-dialog>


<waseel-dialog (onClose)="closeProviderOverrideCommentDialog($event)" *ngIf="providerOverrideCommentDialogDialogOpen" size="sm">
    <provider-override-comment-dialog [onClose]="closeProviderOverrideCommentDialog" [drugCode]="selectedDrugCode" [payerMemberPhysicianInfoData]="payerMemberPhysicianInfoData"
        [selectedDrug]="selectedDrug" [selectedMedicalValidations]="selectedMedicalValidations"
        [ePrescriptionReferenceNumber]="ePrescriptionReferenceNumber"></provider-override-comment-dialog>
</waseel-dialog>