<div class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
    <h6 class="subtitle-1 text-text dark:text-neutral-25">{{'DUPLICATION-THERAPY-CUSTOMIZATION' | translate}}
    </h6>
    <waseel-icon-button class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100"
                        icon="close"
                        (onClick)="closeDialog()"
                        color="default"
                        variant="transparent"></waseel-icon-button>
</div>
<div class="p-16 pb-0">
    <div
         class="mb-16 flex text-primary rounded-[8px] justify-between bg-primary-50 !py-4 ltr:pl-12 ltr:!pr-4 rtl:pr-12 rtl:!pl-4">
        <div class="flex items-center">
            <waseel-icon icon="info"
                         cssClass="h-24 w-24 block"></waseel-icon>
            <span
                  class="body-2 ltr:pl-8 rtl:pr-8 block relative top-2">{{'DOWNLOAD-SAMPLE-INSTRUCTION'|translate}}</span>
        </div>
        <waseel-button (onClick)="downloadSampleFile()"
                       variant="text"
                       size="small">



            {{'DOWNLOAD-SAMPLE'|translate}}
        </waseel-button>
    </div>
    <div
         class="mb-16 flex text-primary rounded-[8px] py-[10px] bg-primary-50 px-12">
            <waseel-icon icon="info"
                         cssClass="h-24 w-24 block"></waseel-icon>
            <span
                  class="body-2 ltr:pl-8 rtl:pr-8 block relative top-2">{{'DRUG-TO-DRUG-REVERSE-RULE-MESSAGE'|translate}}</span>
    </div>
    <div class="relative mb-16"
         *ngIf="!fileSelected">
        <div class="border-dashed border-2 border-border py-64 px-24 rounded-[8px] text-center">
            <waseel-icon icon="upload"
                         cssClass="h-48 w-48 block mx-auto mb-16 text-primary"></waseel-icon>
            <p class="body-1-medium !pb-4">{{'DRAG-INSTRUCTION' | translate}} <span class="text-primary">{{'CHOOSE-FILE'
                    | translate}}</span></p>
            <span class="opacity-[0.64] body-2 block">{{'MAX-SIZE' | translate}}: 5 MB, {{'ALLOWED-TYPE' | translate}}:
                XLS, XLSX</span>
        </div>
        <input type="file"
               (change)="onFileSelected($event)"
               class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer block z-[1]" />
    </div>
    <div class="relative mb-16"
         *ngIf="fileSelected">
        <div class="border-dashed border-2 border-border py-64 px-24 rounded-[8px] text-center">
            <waseel-icon icon="file"
                         cssClass="h-48 w-48 block mx-auto mb-16 text-primary"></waseel-icon>
            <p class="body-1-medium !pb-4">{{fileName}}</p>
            <span class="opacity-[0.64] body-2 block">{{'SIZE' | translate}}: {{fileSizeInMb}} MB</span>
        </div>
        <input type="file"
               (change)="onFileSelected($event)"
               class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer block z-[1]" />
    </div>
    <div *ngIf="fileSizeExceedErrorMsg" class="text-error-500 mt-2">
        {{ fileSizeExceedErrorMsg }}
    </div>
    <div class="pb-16">
        <label class="relative checkbox">
            <input type="checkbox"
                   [(ngModel)]="isOverride"
                   class="absolute top-0 left-0 opacity-0">
            <span class="body-2 flex items-start">
                <waseel-icon icon="checkbox-unchecked"
                             *ngIf="!isOverride"
                             cssClass="h-24 w-24 block text-tertiary"></waseel-icon>
                <waseel-icon icon="checkbox-checked"
                             *ngIf="isOverride"
                             cssClass="h-24 w-24 block text-primary"></waseel-icon>
                <span class="inline-block ltr:pl-6 rtl:pr-6 align-top !pt-2 relative top-2">{{'OVERRIDE-IF-EXISTS' |
                    translate}}</span>
            </span>
        </label>
    </div>
</div>

<div *ngIf="errorArray"
     class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
    <h6 class="subtitle-1 text-text dark:text-neutral-25">{{'UPLOAD-ERRORS'|translate}}</h6>
</div>
<div *ngIf="errorArray"
     class="p-16">
     <div
     class="mb-16 flex text-success-600 rounded-[8px] bg-success-50 py-[10px] px-12" *ngIf="successMessage">
    <waseel-icon icon="check-circle" cssClass="h-24 w-24 block shrink-0"></waseel-icon>
    <span  class="body-2 ltr:pl-8 rtl:pr-8 block relative top-2"> {{ successMessage }}</span>
</div>
    <div
         class="mb-16 flex text-error-500 rounded-[8px] justify-between bg-error-50 py-[10px] ltr:pl-12 ltr:!pr-4 rtl:pr-12 rtl:!pl-4">
        <div class="flex items-center">
            <waseel-icon icon="error"
                         cssClass="h-24 w-24 block"></waseel-icon>
            <span class="body-2 ltr:pl-8 rtl:pr-8 block relative top-2">{{'SFDA-UPLOAD-ERROR'|translate}}</span>
        </div>
    </div>
    <div class="overflow-x-auto relative">

        <table [cellPadding]="0"
               [cellSpacing]="0"
               class="w-full text-secondary body-2 ltr:text-left rtl:text-right">
            <tbody>
                <ng-container *ngFor="let errorItem of errorList; let i = index">
                    <tr>
                        <td class="py-14 px-12 -inset-y-0 border-b border-b-light-border">
                            <span class="font-bold block">Row number {{ errorItem.rowNumber }}</span>
                        </td>
                        <td class="py-14 px-12 -inset-y-0 border-b border-b-light-border">
                            <span *ngFor="let errorDescription of errorItem.errorDescriptions; let j = index"
                                  class="pl-4 block">
                                {{ j + 1 }}. {{ errorDescription }}
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
    <div class="overflow-x-auto relative">
        <table [cellPadding]="0"
               [cellSpacing]="0"
               class="w-full text-secondary body-2 ltr:text-left rtl:text-right">
            <tbody>
                <ng-container *ngFor=" let duplicate of duplicateList; let i = index">
                    <tr>
                        <td class="py-14 px-12 -inset-y-0 border-b border-b-light-border">
                            <span class="font-bold block">Duplicate Records</span>
                        </td>
                        <td class="py-14 px-12 -inset-y-0 border-b border-b-light-border">
                            <span *ngFor=" let duplicate of duplicateList;  let j = index"
                                  class="pl-4 block">
                                {{ j + 1 }}. {{ duplicate }}
                            </span>
                        </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>
<div class="py-12 px-16 flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px]">
    <waseel-button variant="tonal"
                   class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                   (onClick)="closeDialog()"
                   type="button">{{'CANCEL'|translate}}</waseel-button>
    <waseel-button type="submit"
                   class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                   [disabled]="!fileSelected"
                   (onClick)="uploadDuplicationTherapyCustomizationData()">{{'UPLOAD-LIST'|translate}}</waseel-button>
</div>
