<app-base-page headerTitle="{{'prescription.memberManagement' | translate}}">
    <div page-main-section
         class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white dark:bg-neutral-800 shadow-1 rounded-[8px]">
            <list-view [list]="data"
                       [prototype]="listPrototype"
                       [translateData]="[':4']"
                       [isLoading]="listIsLoading"
                       [showEditButton]="false"
                       [showDeleteButton]="false"
                       (onNext)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       (onPrevious)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                       (onItemClick)="navigateToMemberDetails($event.id)"
                       (onSizeChange)="dataControl.recordSize = $event.pageSize; dataControl.pageNumber=0; fetchData()">
            </list-view>
        </div>
    </div>
    <ng-container header-actions>
        <waseel-button variant="tonal"
                       icon="left"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       iconName="filter"
                       (onClick)="isFilterDrawerOpen=true">
            {{'FILTER' | translate}}
        </waseel-button>
    </ng-container>
</app-base-page>

<form [formGroup]="filterForm"
      (submit)="applyFilter()">
    <waseel-drawer title="FILTER"
                   [(isOpen)]="isFilterDrawerOpen">
        <ng-container body-block>
            <waseel-textbox name="name"
                            formControlName="name"
                            [label]="'prescription.memberName' | translate"
                            [placeholder]="'prescription.memberName' | translate">
            </waseel-textbox>
            <waseel-textbox name="idNumber"
                            formControlName="idNumber"
                            (keydown.space)="$event.preventDefault()"
                            [label]="'prescription.nationalId' | translate"
                            [placeholder]="'prescription.nationalId' | translate"
                            (onSearch)="checkNumberType($event)"
                            [maxLength]="10">
            </waseel-textbox>
            <waseel-select name="gender"
                           formControlName="gender"
                           [label]="'prescription.gender' | translate"
                           [options]="genderList"
                           [placeholder]="'SELECT' | translate">
            </waseel-select>
            <waseel-textbox name="nationality"
                            formControlName="nationality"
                            [label]="'prescription.nationality' | translate"
                            [placeholder]="'prescription.nationality' | translate">
            </waseel-textbox>
        </ng-container>
        <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0"
             footer-block>
            <waseel-button variant="tonal"
                           type="button"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="resetFilter()">
                {{'RESET' | translate}}
            </waseel-button>
            <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           type="submit"
                           (onClick)="applyFilter()">
                {{'FILTER' | translate}}
            </waseel-button>
        </div>
    </waseel-drawer>
</form>