<app-base-page headerTitle="{{'SFDA-LIST-DETAILS' | translate}}"
               [onBackClick]="onBackClick">
    <div page-main-section
         class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px] p-24">
            <div class="row">
                <div class="col-4">
                    <div class="pb-16">
                        <label class="body-2 text-secondary !pb-2">{{'ID' |translate}}</label>
                        <p class="body-1">{{drugInfoData.id}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="pb-16">
                        <label class="body-2 text-secondary !pb-2">{{'EFFECTIVE-DATE' |translate}}</label>
                        <p class="body-1">{{drugInfoData.effectiveDate | date: 'dd-MM-yyyy '}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="pb-16">
                        <label class="body-2 text-secondary !pb-2">{{'UPLOAD-DATE' |translate}}</label>
                        <p class="body-1">{{drugInfoData.uploadDate | date: 'dd-MM-yyyy hh:mm a'}}</p>
                    </div>
                </div>
            </div>

            <p class="subtitle-1 pb-16 pt-8">{{'DRUGS'|translate}}</p>
            <div class="row small-gutter">
                <div class="col">
                    <waseel-textbox #searchBox
                                    [formControl]="searchFormControl"
                                    [placeholder]="'SEARCH-SFDA-DRUG-PLACEHOLDER' | translate"
                                    endAdornment="search"></waseel-textbox>
                </div>
                <div class="col-auto">
                    <waseel-button (onClick)="searchDrug(searchBox.value)"
                                   [disabled]="(!searchBox.value || searchBox.value.length<3)"
                                   class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0">
                        {{"main.search"| translate}}
                    </waseel-button>
                    <waseel-button variant="tonal"
                                   *ngIf="searchButtonClicked"
                                   (onClick)="resetSearch()"
                                   class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0">
                        {{"RESET"| translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative">
                <list-view [list]="(sfdaDrugListData$ | async)??sfdaDrugListData"
                           [prototype]="sfdaDrugListPrototype"
                           [translateData]="[':4']"
                           [showEditButton]="true"
                           [showDeleteButton]="true"
                           (onDelete)=" deleteDrugdata($event.id)"
                           [isLoading]="listIsLoading"
                           [showEmptyRows]="false"
                           (onNext)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                           (onPrevious)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                           [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                           (onItemClick)="openSfdaDrugDetailsDialog($event.id)"
                           [showItemsPerPageSelection]="showItemPerPageDropdown(sfdaDrugListData.totalElements!)"
                           (onSizeChange)="dataControl.recordSize = $event.pageSize; dataControl.pageNumber=0; fetchData()"
                           (onEdit)="openEditSfdaDrugDetailsDialog($event.id)"></list-view>
            </div>
        </div>
    </div>

    <ng-container header-actions>
        <waseel-button variant="text"
                       icon="left"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       iconName="delete"
                       (click)="deleteData()">{{'DELETE' | translate}}</waseel-button>
        <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       icon="left"
                       iconName="add"
                       (onClick)="addSfdaDrugDialogOpen = true;this.addEditSfdaDrugDetailsDialogMode = 'add'">{{'ADD-DRUG'
            |
            translate}}</waseel-button>
    </ng-container>
</app-base-page>

<waseel-dialog (onClose)="closeSfdaDrugDetailsDialog($event)"
               *ngIf="sfdaDrugDetailsDialogOpen">
    <sfda-drug-details-dialog [data]="sfdaDrugDetailsDialogData"
                              [onClose]="closeSfdaDrugDetailsDialog"></sfda-drug-details-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeAddSfdaDrugDialog($event)"
               *ngIf="addSfdaDrugDialogOpen">
    <add-sfda-drug-dialog [data]="sfdaDrugDetailsDialogData"
                          [onClose]="closeAddSfdaDrugDialog"
                          [dialogMode]="addEditSfdaDrugDetailsDialogMode"></add-sfda-drug-dialog>
</waseel-dialog>