<div class="bg-white rounded-[8px] shadow-1 mb-32 p-24">

    <div class="row">
        <div class="col-6">
            <div class="pb-16">
                <label class="body-2 text-secondary !pb-2">{{'customization.payer' |translate}}</label>
                <p class="body-1">{{storeService.payers[0].value}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="pb-16">
                <label class="body-2 text-secondary !pb-2">{{'MEMBER-BENEFICIARY' |translate}}</label>
                <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.memberName}} -
                    {{(storeService.state$ | async)?.prescriptionData?.IdNumber}}
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="pb-16">
                <label class="body-2 text-secondary !pb-2">{{'CLINICIAN' |translate}}</label>
                <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.physicianName}} -
                    {{(storeService.state$ | async)?.prescriptionData?.physicianLicenseNumber}}-
                    {{(storeService.state$ | async)?.prescriptionData?.physicianSpeciality}}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="pb-16">
                <label class="body-2 text-secondary !pb-2">{{'CASE-TYPE' |translate}}</label>
                <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.caseType}}</p>
            </div>
        </div>
    </div>


    <div class="bg-light-grey p-16 pb-0 mt-8 mb-24 rounded-[8px]">
        <p class="subtitle-1 pb-16">{{'MEMBER-INFO'|translate}}</p>
        <div class="row">
            <div class="col-md-3">
                <div class="pb-16">
                    <label class="body-2 text-secondary !pb-2">{{'NAME' |translate}}</label>
                    <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.memberName}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pb-16">
                    <label class="body-2 text-secondary !pb-2">{{'GENDER' |translate}}</label>
                    <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.memberGender}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pb-16">
                    <label class="body-2 text-secondary !pb-2">{{'DOB' |translate}}</label>
                    <p class="body-1">{{(storeService.state$ | async)?.prescriptionData?.dateOfBirth}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pb-16">
                    <label class="body-2 text-secondary !pb-2">{{'AGE' |translate}}</label>
                    <p class="body-1">{{storeService.selectedMemberInfo?.age}}</p>
                </div>
            </div>
        </div>
    </div>

    <p class="subtitle-1 pb-16">{{'DIAGNOSIS'|translate}}</p>
    <list-view [list]="diagnosisViewList" [showEmptyRows]="diagnosisViewList.totalPages != 1" [prototype]="diagnosisListPrototype" [showItemsPerPageSelection]="false"
        [showEditButton]="false" [showDeleteButton]="false" (onNext)="onDiagnosisListViewPageChange($event)" (onPrevious)="onDiagnosisListViewPageChange($event)"
        [showItemsPerPageSelection]="showItemPerPageDropdown(diagnosisViewList.totalElements!)" (onSizeChange)="onListViewPageSizeChange($event)">
    </list-view>

    <p class="subtitle-1 pb-16">{{'DRUGS'|translate}}</p>
    <list-view [list]="drugsViewList" [prototype]="drugListPrototype" [translateData]="[':4']" [showEmptyRows]="drugsViewList.totalPages != 1" [showEditButton]="false"
        [showDeleteButton]="false" [showItemsPerPageSelection]="false" (onNext)="onDrugListViewPageChange($event)"
        [customCells]="{drugCode: drugCodeView, quantity: quantityView, useUnitValue: useUnitValueView, frequency:frequencyView, unitPrice:unitPriceView, serviceStartDate: serviceDateView}"
        (onPrevious)="onDrugListViewPageChange($event)" [showItemsPerPageSelection]="showItemPerPageDropdown(drugsViewList.totalElements!)" (onSizeChange)="onDrugListViewPageSizeChange($event)">
    </list-view>

    <ng-template #drugCodeView let-row="row">
        <div class="flex flex-col">
          <span *ngIf="row.drugName">{{row.drugName}} </span>
          <span *ngIf="!row.drugName && row.scientificName">{{row.scientificName}} </span>
          <span *ngIf="row.drugCode != 'undefined'">{{row.drugCode}}</span>
          <span>{{row.strength}}{{row.strengthUnit}}</span>
          <!-- <span *ngIf="!prescribeGenericOrBrandFlow && basedOn =='trade-name'">{{row.drugName}} {{row.drugCode}}</span> -->
          <!-- <span *ngIf="prescribeGenericOrBrandFlow && basedOn =='scientific-name'">{{row.scientificName}} {{row.strength}}{{row.strengthUnit}} {{row.scientificCode}}</span> -->
          <!-- <span class="text-sm text-tertiary" *ngIf="prescribeGenericOrBrandFlow || prescribeGenericOrBrandFlow">{{row.drugCode || row.scientificCode}}</span> -->
        </div>
      </ng-template>
    <!-- <ng-template #drugCodeView let-row="row">
        <div class="flex flex-col">
          <span>{{row.drugName}} </span><span *ngIf="row.drugCode !== 'undefined'">{{row.drugCode}}</span>
          
          <span >{{row.scientificName}}, {{row.strength}}{{row.strengthUnit}} {{row.scientificCode}}</span> -->
          <!-- <span *ngIf="!prescribeGenericOrBrandFlow && basedOn =='trade-name'">{{row.drugName}} {{row.drugCode}}</span> -->
          <!-- <span *ngIf="prescribeGenericOrBrandFlow && basedOn =='scientific-name'">{{row.scientificName}} {{row.strength}}{{row.strengthUnit}} {{row.scientificCode}}</span> -->
          <!-- <span class="text-sm text-tertiary" *ngIf="prescribeGenericOrBrandFlow || prescribeGenericOrBrandFlow">{{row.drugCode || row.scientificCode}}</span> -->
        <!-- </div> -->
      <!-- </ng-template> -->

    <ng-template #quantityView let-row="row">
        {{((row.quantity | number:'1.0-2')||'').replaceAll(',', '')}}
    </ng-template>

    <ng-template #useUnitValueView let-row="row">
        {{((row.useUnitValue | number:'1.0-2')||'').replaceAll(',', '')}}
    </ng-template>

    <ng-template #frequencyView let-row="row">
        {{row.frequency == 'others'? row.frequencyOthersDescription:row.frequency}}
    </ng-template>

    <ng-template #unitPriceView let-row="row">
       <span *ngIf="row.drugCode && row.unitPrice && row.type == 'tradeName'"> {{row.unitPrice | number:'1.2-2'}} SAR </span>
    </ng-template>

    <!-- <ng-template #serviceDateView let-row="row">
        {{row.serviceStartDate | date: 'dd/MM/yyyy'}}
    </ng-template> -->
    
    <ng-template #serviceDateView let-row="row">
        <ng-container *ngIf="row.serviceStartDate.getTime; else showDateAsString">
            {{row.serviceStartDate | date: 'dd/MM/yyyy'}}
        </ng-container>
        <ng-template #showDateAsString>
            {{row.serviceStartDate}}
        </ng-template>
    </ng-template>
</div>