<div class="flex flex-column h-full">
    <div class="p-16 flex items-center border-solid border-b-light-border border-b-[1px] flex-shrink-0">
        <h6 class="subtitle-1">{{'DISPENSE'|translate}}</h6>
        <waseel-icon-button
            class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100" icon="close"
            (onClick)="closeDialog($event)" color="default" variant="transparent" [tooltip]="'CLOSE' | translate"></waseel-icon-button>
    </div>
    <div class="p-16 overflow-auto flex-grow">
        <list-view [list]="dispensableDrugs" [prototype]="listPrototype" [isLoading]="isLoading" [showEditButton]="showEditButton" [showDeleteButton]="showDeleteButton"
            (onNext)="pageNumber = $event.pageNumber; fetchData()" (onPrevious)="pageNumber = $event.pageNumber; fetchData()" [showItemsPerPageSelection]="false"
            (onSizeChange)="recordSize = $event.pageSize; pageNumber=0; fetchData()" (onChange)="onCheckboxChange($event,$event.data)" [showCheckBox]="showCheckBox">
        </list-view>
    </div>
    <div class="py-12 px-16 flex border-solid border-t-light-border border-t-[1px] items-center flex-shrink-0">
        <div class="flex items-center">
            <div>
                <label class="body-2 text-secondary !pb-2">{{'GRAND-TOTAL'| translate}}</label>
                <h6 class="headline-6">{{grandTotal}} {{'SAR'|translate}}</h6>
            </div>
            <span class="h-32 w-1 bg-border block mx-16"></span>
            <div>
                <label class="body-2 text-secondary !pb-2">{{'TOTAL-DRUGS'| translate}}</label>
                <h6 class="headline-6">{{totalDrugs}} {{'DRUGS'|translate}}</h6>
            </div>
            <span class="h-32 w-1 bg-border block mx-16"></span>
            <div>
                <label class="body-2 text-secondary !pb-2">{{'TOTAL-QTY'| translate}}</label>
                <h6 class="headline-6">{{totalQty}} {{'ITEMS'|translate}}</h6>
            </div>
        </div>
        <div class="ltr:ml-auto rtl:mr-auto">
            <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="closeDialog($event)"
                type="button">{{'CANCEL'|translate}}</waseel-button>
            <waseel-button type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" icon="right" iconName="arrow-right" [iconRtlInvert]="true"
                (onClick)="onDispenseBtnClick(drugList.length)" [disabled]="isLoading || authService.systemLoaderVisible">
                {{drugList.length == 0 ? ('prescription.dispenseALL'|translate) : ('prescription.dispenseSelected'|translate)
                + " (" +drugList.length + ")"}}
            </waseel-button>
        </div>
    </div>
</div>