<div class="bg-white rounded-[8px] shadow-1 mb-32">
    <div class="px-24 pt-24 pb-8 border-b border-b-border">
        <div class="row small-gutter">
            <div class="col">
                <div class="group">
                    <waseel-textbox [placeholder]="'SEARCH-DRUG-PLACEHOLDER'|translate"
                                    [error]="selectDrugValidationMsg"
                                    formControlName="searchFormControl"
                                    (onSearch)="getDrugs($event)"
                                    *ngIf="!prescribeGenericOrBrandFlow"></waseel-textbox>
                    <div class="relative none group-focus-within:block"
                         *ngIf="((prescriptionLOVs.drugsList$ | async)?.content || []).length > 0">
                        <div
                             class="absolute hidden max-h-[300px] overflow-auto group-focus-within:block rounded-[8px] shadow-4 bg-white dark:bg-neutral-800 left-0 top-[calc(100%-16px)] right-0 z-[5]">
                            <ul class="!py-4">
                                <li *ngFor="let drug of ((prescriptionLOVs.drugsList$ | async)?.content || [])"
                                    class="border-b border-b-border last:border-0">
                                    <button class="w-full text-start px-16 block py-10 body-2 system-transition text-text hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                            (click)="selectDrug(drug)">
                                        <span class="flex">
                                            <span>
                                                <span class="body-2-medium block"
                                                      *ngIf="drug.sfdaDescription || drug.scientificName">
                                                    <ng-container
                                                                  *ngIf="drug.sfdaDescription">{{drug.sfdaDescription}}</ng-container>
                                                    <ng-container *ngIf="drug.sfdaDescription && drug.scientificName"> |
                                                    </ng-container>
                                                    <ng-container
                                                                  *ngIf="drug.scientificName">{{drug.scientificName}}</ng-container>
                                                </span>
                                                <span class="body-2 text-secondary"
                                                      *ngIf="drug.sfdaCode">{{drug.sfdaCode}}</span>
                                            </span>
                                            <span
                                                  class="ltr:ml-auto rtl:mr-auto body-2 text-secondary ltr:text-right rtl:text-left">
                                                <ng-container *ngIf="drug.dosageForm || drug.strengthUnit">
                                                    <ng-container
                                                                  *ngIf="drug.dosageForm">{{drug.dosageForm}}</ng-container>
                                                    <ng-container *ngIf="drug.dosageForm && drug.strengthUnit"> |
                                                    </ng-container>
                                                    <ng-container
                                                                  *ngIf="drug.strengthUnit">{{drug.strengthUnit}}</ng-container>
                                                    <ng-container *ngIf="drug.strength">{{drug.strength}}</ng-container>

                                                    <br />
                                                </ng-container>
                                                <span [title]="'FORMULARY-EXPLANATION' | translate"
                                                      *ngIf="drug.drugFormulary"
                                                      class="flex items-center text-success-500 body-2-semibold justify-end">
                                                    <waseel-icon icon="info-filled"
                                                                 cssClass="!mr-4 block h-20 w-20"></waseel-icon>
                                                    <span>{{'INCLUDED-IN-FORMULARY' | translate}}</span>
                                                </span>
                                            </span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <waseel-button icon="left"
                               iconName="add"
                               (onClick)="openDialog(false)">{{'ADD'|translate}}</waseel-button>
            </div>
        </div>
    </div>
    <!-- Drug list view -->


    <div class="p-24"
         *ngIf="drugsViewList.content.length >=0 ">
        <list-view [list]="drugsViewList"
                   [prototype]="listPrototype"
                   [translateData]="[':4']"
                   [showEmptyRows]="drugsViewList.totalPages != 1"
                   [showItemsPerPageSelection]="false"
                   (onNext)="onListViewPageChange($event)"
                   [showEditButton]="showEditButtonForDrug"
                   [showCommentButton]="false"
                   [noContentTitle]="'NO-DRUGS-ADDED'|translate"
                   [propertiesToHide]="(storeService.state$ | async)?.mode == 'new'?['status']:[]"
                   [showItemsPerPageSelection]="showItemPerPageDropdown(drugsViewList.totalElements!)"
                   [customCells]="{drugCode: drugCodeView, quantity: quantityView, useUnitValue: useUnitValueView, frequency:frequencyView, unitPrice:unitPriceView, serviceStartDate: serviceDateView,dosageForm:dosageFormView}"
                   (onPrevious)="onListViewPageChange($event)"
                   (onDelete)="deleteDrugData($event.id)"
                   (onEdit)="openEditDrugDiagnosisDialog($event.id)"
                   (onSizeChange)="onListViewPageSizeChange($event)">
        </list-view>
        <ng-template #drugCodeView
                     let-row="row">
            <div class="flex flex-col">
                <span *ngIf="row.drugName">{{row.drugName}} </span>
                <span *ngIf="!row.drugName && row.scientificName">{{row.scientificName}} </span>
                <span *ngIf="row.drugCode || row.drugCode != 'null'">{{row.drugCode}}</span>
                <span>{{row.strength}} {{row.strengthUnit}}</span>
                <!-- <span *ngIf="!prescribeGenericOrBrandFlow && basedOn =='trade-name'">{{row.drugName}} {{row.drugCode}}</span> -->
                <!-- <span *ngIf="prescribeGenericOrBrandFlow && basedOn =='scientific-name'">{{row.scientificName}} {{row.strength}}{{row.strengthUnit}} {{row.scientificCode}}</span> -->
                <!-- <span class="text-sm text-tertiary" *ngIf="prescribeGenericOrBrandFlow || prescribeGenericOrBrandFlow">{{row.drugCode || row.scientificCode}}</span> -->
            </div>
        </ng-template>

        <ng-template #quantityView
                     let-row="row">
            {{((row.quantity | number:'1.0-2')||'').replaceAll(',', '')}}
        </ng-template>

        <ng-template #useUnitValueView
                     let-row="row">
            {{((row.useUnitValue | number:'1.0-2')||'').replaceAll(',', '')}}
        </ng-template>

        <ng-template #frequencyView
                     let-row="row">
            {{row.frequency == 'others'? row.frequencyOthersDescription:row.frequency}}
        </ng-template>

        <ng-template #unitPriceView
                     let-row="row">
            <span *ngIf="row.drugCode && row.unitPrice && row.type == 'tradeName'"> {{row.unitPrice | number:'1.2-2'}}
                SAR</span>
        </ng-template>

        <ng-template #serviceDateView
                     let-row="row">
            <ng-container *ngIf="row.serviceStartDate.getTime; else showDateAsString">
                {{row.serviceStartDate | date: 'dd-MM-yyyy'}}
            </ng-container>
            <ng-template #showDateAsString>
                {{row.serviceStartDate}}
            </ng-template>
        </ng-template>
        <ng-template #dosageFormView
                     let-row="row">
            <span class="text-sm text-tertiary">{{row.dosageForm}}</span>
        </ng-template>

    </div>

</div>


<waseel-dialog (onClose)="closeDialog()"
               *ngIf="(isDialogOpened$ | async)">
    <div class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
        <h6 class="subtitle-1 dark:text-neutral-25"
            *ngIf="dialogMode == 'add'">
            {{'ADD-DRUG'|translate}}</h6>
        <h6 class="subtitle-1 dark:text-neutral-25"
            *ngIf="dialogMode == 'edit'">
            {{'EDIT-DRUG'|translate}}</h6>
        <waseel-icon-button class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100"
                            icon="close"
                            (onClick)="closeDialog()"
                            color="default"
                            variant="transparent"></waseel-icon-button>
    </div>


    <form [formGroup]="drugForm">
        <div class="p-16 pb-0">

            <div class="pb-16"
                 *ngIf="dialogMode == 'edit'">
                <label class="body-2 text-secondary !pb-2">{{'DRUG-ADDED-BASED-ON' |translate}}</label>
                <p class="body-1"
                   *ngIf="basedOn == 'trade-name'">{{'TRADE-NAME' | translate}}</p>
                <p class="body-1"
                   *ngIf="basedOn == 'scientific-name'">{{'SCIENTIFIC-NAME' | translate}}</p>
            </div>
            <div class="pb-16"
                 *ngIf="dialogMode == 'edit'">
                <label class="body-2 text-secondary !pb-2">{{'prescription.drug' |translate}}</label>
                <p class="body-1">{{drugForm.get('searchFormControl')?.value}}</p>
            </div>

            <div class="pb-16"
                 *ngIf="dialogMode == 'add'">
                <label class="body-2 block pb-8"
                       *ngIf="prescribeGenericOrBrandFlow">{{'ADD-BASED-ON'| translate}}</label>
                <div class="flex items-center flex-wrap -mb-8"
                     *ngIf="prescribeGenericOrBrandFlow">
                    <label class="relative radio ltr:pr-16 rtl:pl-16 pb-8 ltr:last:pr-0 rtl:last:pl-0">
                        <input type="radio"
                               name="scientific-name"
                               (change)="changeBasedOnValue('scientificName')"
                               [(ngModel)]="basedOn"
                               [ngModelOptions]="{standalone: true}"
                               value="scientific-name"
                               class="absolute top-0 left-0 opacity-0">
                        <span class="body-2 flex items-start ">
                            <waseel-icon *ngIf="basedOn!='scientific-name'"
                                         icon="radio-unchecked"
                                         cssClass="h-24 w-24 block text-tertiary"></waseel-icon>
                            <waseel-icon *ngIf="basedOn=='scientific-name'"
                                         icon="radio-checked"
                                         cssClass="h-24 w-24 block text-primary"></waseel-icon>
                            <span class="inline-block ltr:pl-6 rtl:pr-6 align-top !pt-2">
                                {{'SCIENTIFIC-NAME' | translate}}
                            </span>
                        </span>
                    </label>
                    <label class="relative radio ltr:pr-16 rtl:pl-16 pb-8 ltr:last:pr-0 rtl:last:pl-0">
                        <input type="radio"
                               name="trade-name"
                               (change)="changeBasedOnValue('tradeName')"
                               [(ngModel)]="basedOn"
                               [ngModelOptions]="{standalone: true}"
                               value="trade-name"
                               class="absolute top-0 left-0 opacity-0">
                        <span class="body-2 flex items-start ">
                            <waseel-icon *ngIf="basedOn!='trade-name'"
                                         icon="radio-unchecked"
                                         cssClass="h-24 w-24 block text-tertiary"></waseel-icon>
                            <waseel-icon *ngIf="basedOn=='trade-name'"
                                         icon="radio-checked"
                                         cssClass="h-24 w-24 block text-primary"></waseel-icon>
                            <span class="inline-block ltr:pl-6 rtl:pr-6 align-top !pt-2">
                                {{'TRADE-NAME' | translate}}
                            </span>
                        </span>
                    </label>

                </div>
            </div>
            <div class="group"
                 *ngIf="dialogMode == 'add'">
                <waseel-textbox [placeholder]="placeholderName"
                                formControlName="searchFormControl"
                                name="searchFormControl"
                                (onSearch)="getDrugs($event)"
                                [error]="drugForm.get('searchFormControl')?.invalid || !selectedDrug ? selectDrugValidationMsg : ''">
                </waseel-textbox>
                <div class="relative none group-focus-within:block"
                     *ngIf="((prescriptionLOVs.drugsList$ | async)?.content || []).length > 0">
                    <div
                         class="absolute hidden max-h-[300px] overflow-auto group-focus-within:block rounded-[8px] shadow-4 bg-white dark:bg-neutral-800 left-0 top-[calc(100%-16px)] right-0 z-[5]">
                        <ul class="!py-4">
                            <li *ngFor="let drug of ((prescriptionLOVs.drugsList$ | async)?.content || [])"
                                class="border-b border-b-border last:border-0">

                                <button class="w-full text-start px-16 block py-10 body-2 system-transition text-text hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                        (click)="selectDrug(drug)">
                                    <span class="flex">
                                        <span>
                                            <span class="body-2-medium block"
                                                  *ngIf="basedOn=='trade-name'">
                                                <ng-container
                                                              *ngIf="drug.sfdaDescription">{{drug.sfdaDescription}}</ng-container>
                                                <ng-container *ngIf="drug.sfdaDescription && drug.scientificName"> |
                                                </ng-container>
                                                <ng-container
                                                              *ngIf="drug.scientificName">{{drug.scientificName}}</ng-container>
                                            </span>
                                            <span class="body-2-medium block"
                                                  *ngIf="basedOn=='scientific-name'">
                                                <ng-container
                                                              *ngIf="drug.scientificCode">{{drug.scientificCode}}</ng-container>
                                                <ng-container *ngIf="drug.scientificCode && drug.scientificName"> |
                                                </ng-container>
                                                <ng-container
                                                              *ngIf="drug.scientificName">{{drug.scientificName}}</ng-container>
                                            </span>
                                            <span class="body-2 text-secondary"
                                                  *ngIf="drug.sfdaCode && basedOn=='trade-name'">{{drug.sfdaCode}}</span>
                                        </span>
                                        <span
                                              class="ltr:ml-auto rtl:mr-auto body-2 text-secondary ltr:text-right rtl:text-left">
                                            <ng-container *ngIf="drug.dosageForm || drug.strengthUnit">
                                                <ng-container *ngIf="drug.dosageForm">{{drug.dosageForm}} |
                                                </ng-container>
                                                <ng-container *ngIf="drug.strength">{{drug.strength}}</ng-container>
                                                <ng-container *ngIf="drug.dosageForm && drug.strengthUnit"> |
                                                </ng-container>
                                                <ng-container
                                                              *ngIf="drug.strengthUnit">{{drug.strengthUnit}}</ng-container>
                                                <ng-container *ngIf="drug.dosageForm && drug.strengthUnit"> |
                                                </ng-container>
                                                <ng-container
                                                              *ngIf="drug.roaSuggested">{{drug.roaSuggested}}</ng-container>
                                                <br />
                                            </ng-container>
                                            <span [title]="'FORMULARY-EXPLANATION' | translate"
                                                  *ngIf="drug.drugFormulary"
                                                  class="flex items-center text-success-500 body-2-semibold justify-end">
                                                <waseel-icon icon="info-filled"
                                                             cssClass="!mr-4 block h-20 w-20"></waseel-icon>
                                                <span>{{'INCLUDED-IN-FORMULARY' | translate}}</span>
                                            </span>
                                        </span>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row small-gutter">
                <div class="col-6">
                    <waseel-select [label]="'prescription.unitType' |translate"
                                   [options]="(prescriptionLOVs.getUnitTypes$ | async) || []"
                                   [placeholder]="'SELECT' | translate"
                                   formControlName="unitType"
                                   name="unitTypes"
                                   [error]="drugForm.get('unitType')?.invalid && drugForm.get('unitType')?.touched? ('prescription.requiredFieldError' | translate): ''"></waseel-select>
                </div>
                <div class="col-6">
                    <waseel-textbox [label]="'prescription.quantity' |translate"
                                    formControlName="quantity"
                                    type="number"
                                    [maxLength]="250"
                                    name="quantity"
                                    [error]="drugForm.get('quantity')?.invalid && drugForm.get('quantity')?.touched? (
                            drugForm.get('quantity')?.errors?.['required']? ('prescription.requiredFieldError' | translate) :
                            drugForm.get('quantity')?.errors?.['min']? ('prescription.minError' | translate: {value: '1'}):
                            drugForm.get('quantity')?.errors?.['max']? ('prescription.maxError' | translate: {value: '999'}):''
                        ):''"></waseel-textbox>
                </div>
                <div class="col-6">
                    <waseel-textbox [label]="'SERVICE-DATE' |translate"
                                    type="date"
                                    formControlName="serviceStartDate"
                                    name="serviceStartDate">
                    </waseel-textbox>
                </div>
                <div class="col-6">
                    <waseel-textbox [label]="'prescription.use' |translate"
                                    formControlName="useUnitValue"
                                    type="number"
                                    name="use"
                                    [error]="drugForm.get('useUnitValue')?.invalid && drugForm.get('useUnitValue')?.touched? (
                        drugForm.get('useUnitValue')?.errors?.['required']? ('prescription.requiredFieldError' | translate) :
                        drugForm.get('useUnitValue')?.errors?.['min']? ('prescription.minError' | translate: {value: '1'}):
                        drugForm.get('useUnitValue')?.errors?.['max']? ('prescription.maxError' | translate: {value: '99'}):''
                    ):''"></waseel-textbox>
                </div>
                <div class="col-6">
                    <waseel-select [label]="'prescription.frequency' |translate"
                                   [options]="(prescriptionLOVs.getFrequencyTypes$ | async) || []"
                                   [placeholder]="'SELECT' | translate"
                                   formControlName="frequency"
                                   name="frequency"
                                   [error]="drugForm.get('frequency')?.invalid && drugForm.get('frequency')?.touched? ('prescription.requiredFieldError' | translate): ''">
                    </waseel-select>
                </div>
                <div class="col-6">
                    <waseel-textbox [label]="'prescription.duration' |translate"
                                    formControlName="duration"
                                    type="number"
                                    name="duration"
                                    [maxLength]="10"
                                    [error]="drugForm.get('duration')?.invalid && drugForm.get('duration')?.touched? (
                            drugForm.get('duration')?.errors?.['required']? ('prescription.requiredFieldError' | translate) :
                            drugForm.get('duration')?.errors?.['min']? ('prescription.minError' | translate: {value: '1'}):''
                        ):''">
                    </waseel-textbox>
                </div>
                <div class="col-6"
                     *ngIf="drugForm.get('frequency')?.value == 'others'">
                    <waseel-textbox [label]="'prescription.frequencyOtherDesc' |translate"
                                    formControlName="frequencyOthersDescription"
                                    name="frequencyOthersDescription"
                                    [maxLength]="30"
                                    [error]="drugForm.errors?.['frequencyOthersDescriptionRequired']
                            && drugForm.get('frequencyOthersDescription')?.touched
                            ? ('prescription.requiredFieldError' | translate) : ''">
                    </waseel-textbox>
                </div>
            </div>
            <div class="row"
                 *ngIf="drugForm.get('unitPrice')?.value">
                <div class="col-6">
                    <div class="pb-16">
                        <label class="body-2 text-secondary !pb-2">{{'UNIT-PRICE' |translate}}</label>
                        <p class="headline-6">{{drugForm.get('unitPrice')?.value | number: '1.2-2'}} SAR</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pb-16">
                        <label class="body-2 text-secondary !pb-2">{{'TOTAL-PRICE' |translate}}</label>
                        <p class="headline-6">{{(drugForm.get('unitPrice')?.value * drugForm.get('quantity')?.value) |
                            number: '1.2-2'}} SAR</p>
                    </div>
                </div>
            </div>
            <div class="pb-16">
                <label class="body-2 text-secondary !pb-2">{{'INSTRUCTIONS' |translate}}</label>
                <p class="body-1">
                    {{"Use"}} {{ drugForm.get('useUnitValue')?.value }}{{ " tablet(s)" }}
                    {{drugForm.get('frequency')?.value ==
                    'others'? drugForm.get('frequencyOthersDescription')?.value:drugForm.get('frequency')?.value}}
                    {{"for a duration of"}}
                    {{drugForm.get('duration')?.value }} {{ "day(s)."}}</p>
            </div>
            <waseel-alert *ngIf="showDuplicateError"
                          class="mt-16 mb-16 block">
                {{'prescription.drugSame' | translate}}
            </waseel-alert>
        </div>

        <div
             class="py-12 px-16 flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px]">
            <waseel-button variant="tonal"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="closeDialog()"
                           type="button">{{'CANCEL'|translate}}</waseel-button>
            <waseel-button type="button"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="addDrug(false)">{{'SAVE'|translate}}</waseel-button>
            <waseel-button type="button"
                           *ngIf="dialogMode == 'add'"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="addDrug(true)">{{'SAVE-ADD-NEW'|translate}}</waseel-button>
        </div>

    </form>
</waseel-dialog>