<app-base-page headerTitle="{{'CREATE-FORMULARY' | translate}}"
               [onBackClick]="onBackClick">
    <div page-main-section
         class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px] p-24">
            <div class="row">
                <div class="col-md-6">
                    <waseel-textbox #formularyName
                                    [maxLength]="100"
                                    [label]="'FORMULARY-NAME' | translate"
                                    [placeholder]="'ENTER-NAME' | translate"></waseel-textbox>
                </div>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'BASED-ON'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button size="small"
                                   icon="left"
                                   iconName="add"
                                   (onClick)="addBasedOnDialogOpen =true">
                        {{"ADD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative mb-24">
                <list-view [list]="formularyPolicyList"
                           [showEmptyRows]="formularyPolicyList.totalPages != 1"
                           [prototype]="formularyPolicyListPrototype"
                           [translateData]="[':4']"
                           [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                           [showEditButton]="false"
                           [showDeleteButton]="true"
                           (onNext)="onPolicyListViewPageChange($event)"
                           (onPrevious)="onPolicyListViewPageChange($event)"
                           [showItemsPerPageSelection]="showItemPerPageDropdown(formularyPolicyList.totalElements!)"
                           (onDelete)="deletePolicyDetailData($event.id)"
                           (onSizeChange)="onPolicyListViewPageSizeChange($event)">
                </list-view>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'DRUGS'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button size="small"
                                   icon="left"
                                   iconName="add"
                                   (click)="addFormularyDrugOpen = true">
                        {{"ADD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative">
                <list-view [list]="formularyDrugList"
                           [showEmptyRows]="formularyDrugList.totalPages != 1"
                           [prototype]="formularyDrugListPrototype"
                           [translateData]="[':4']"
                           [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                           [showEditButton]="false"
                           [showDeleteButton]="true"
                           (onNext)="onDrugListViewPageChange($event)"
                           (onPrevious)="onDrugListViewPageChange($event)"
                           [showItemsPerPageSelection]="showItemPerPageDropdown(formularyDrugList.totalElements!)"
                           (onDelete)="deleteDrugDetailData($event.id)"
                           (onSizeChange)="ondrugListViewPageSizeChange($event)"
                           [customCells]="{drugName:drugNameCell, patientShare:paitentShareValue}">
                </list-view>
                <ng-template #drugNameCell
                             let-row="row">
                    <div class="flex flex-col">
                        <span>{{row.drugName}}</span>
                        <span class="text-sm text-tertiary">{{row.drugCode}}</span>
                    </div>
                </ng-template>

                <ng-template #paitentShareValue
                             let-row="row">
                    <div class="flex flex-col">
                        <span *ngIf="row.patientShare != '-'">{{row.patientShare}}%</span>
                        <ng-template #emptyPatientShare>
                            {{row.patientShare}}
                        </ng-template>
                    </div>
                </ng-template>

            </div>

            <div
                 class="flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px] mt-24 pt-24">
                <waseel-button variant="tonal"
                               class="ltr:mr-8 rtl:ml-8"
                               routerLink="/formulary/list"
                               type="button">{{'CANCEL'|translate}}</waseel-button>
                <waseel-button type="button"
                               [disabled]="!formularyName.value || formularyPolicyList.content.length == 0 || formularyDrugList.content.length == 0"
                               (click)="createFormulary()">{{'CREATE'|translate}}</waseel-button>
            </div>
        </div>
    </div>
    <!-- <ng-container header-actions>
        <waseel-button icon="left" iconName="delete" (click)="deleteDrugFormulary()">{{'DELETE' | translate}}</waseel-button>
    </ng-container> -->



</app-base-page>

<waseel-dialog (onClose)="closeAddBasedOnDialog($event)"
               *ngIf="addBasedOnDialogOpen">
    <add-based-on-dialog [onClose]="closeAddBasedOnDialog"
                         [fromPage]="'create'"></add-based-on-dialog>
</waseel-dialog>


<waseel-dialog [clipContent]="false"
               (onClose)="closeAddFormularyDrugDialog($event)"
               *ngIf="addFormularyDrugOpen">
    <add-formulary-drug-dialog [onClose]="closeAddFormularyDrugDialog"
                               [fromPage]="'create'"></add-formulary-drug-dialog>
</waseel-dialog>