<app-base-page headerTitle="{{'CREATE-EXCLUSION-LIST' | translate}}" [onBackClick]="onBackClick">
    <div page-main-section class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px] p-24">
            <div class="row">
                <div class="col-md-6">
                    <waseel-textbox #exclusionListName [maxLength]="100" [label]="'EXCLUSION-LIST-NAME' | translate" [placeholder]="'ENTER-NAME' | translate"></waseel-textbox>
                </div>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'BASED-ON'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button size="small" icon="left" iconName="add" (onClick)="addBasedOnDialogOpen=true">
                        {{"ADD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative rounded-[8px] mb-24">
                <!-- <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary body-2 ltr:text-left rtl:text-right">
                    <thead>
                        <tr>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"TYPE"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"NETWORK"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"PROVIDER"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"SPECIALITY"|translate}}
                            </th>
                            <th class="border-b-2 border-b-light-border body-2-medium bg-neutral-25" width="10">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">High Cost Medicine</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Network Exclusion</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Network 124</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Provider Exclusion</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Dallah Hospital</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Speciality Exclusion</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">-</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer">Cardiologist</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <list-view [list]="exclusionTypeList" [showEmptyRows]="exclusionTypeList.totalPages != 1" [prototype]="exclusionTypeListPrototype" [translateData]="[':4']"
                    [noContentTitle]="'NO-RECORDS-FOUND'|translate" [showEditButton]="false" [showDeleteButton]="true" (onNext)="onExclusionTypeListViewPageChange($event)"
                    (onPrevious)="onExclusionTypeListViewPageChange($event)" [showItemsPerPageSelection]="showItemPerPageDropdown(exclusionTypeList.totalElements!)"
                    (onDelete)="deleteExclusionTypeListDetail($event.id)" (onSizeChange)="onExclusionTypeListViewPageSizeChange($event)">
                </list-view>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'DRUGS'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button size="small" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" icon="left" iconName="add" (click)="addDrugDialogOpen=true">
                        {{"ADD"|translate}}
                    </waseel-button>
                    <waseel-button size="small" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" icon="left" iconName="upload" (click)="uploadDrugDialogOpen=true">
                        {{"UPLOAD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative rounded-[8px] mb-24">
                <!-- <table [cellPadding]="0" [cellSpacing]="0" class="w-full text-secondary body-2 ltr:text-left rtl:text-right">
                    <thead>
                        <tr>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"DRUG"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"SCIENTIFIC-NAME"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"SCIENTIFIC-CODE"|translate}}
                            </th>
                            <th scope="col" class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                                {{"LAST-UPDATED-DATE"|translate}}
                            </th>
                            <th class="border-b-2 border-b-light-border body-2-medium bg-neutral-25" width="10">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">
                                CONCOR CDR
                                <br>
                                <span class="text-tertiary">0321-133803-0391</span>
                            </td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">CONCOR CDR</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">45641</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">28-07-2021 09:30 AM</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border align-top">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">
                                CONCOR CDR
                                <br>
                                <span class="text-tertiary">0321-133803-0391</span>
                            </td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">CONCOR CDR</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">45641</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">28-07-2021 09:30 AM</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border align-top">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                        <tr class="system-transition hover:bg-neutral-25">
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">
                                CONCOR CDR
                                <br>
                                <span class="text-tertiary">0321-133803-0391</span>
                            </td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">CONCOR CDR</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">45641</td>
                            <td class="py-14 px-12 border-b border-b-light-border cursor-pointer align-top">28-07-2021 09:30 AM</td>
                            <td class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border align-top">
                                <waseel-icon-button variant="transparent" class="inline-block align-middle" color="default" icon="delete"
                                    [tooltip]="'DELETE'|translate"></waseel-icon-button>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <div class="overflow-x-auto relative">
                    <list-view [list]="exclusionDrugList" [showEmptyRows]="exclusionDrugList.totalPages != 1" [prototype]="exclusionDrugListPrototype" [translateData]="[':4']"
                        [noContentTitle]="'NO-RECORDS-FOUND'|translate" [showEditButton]="false" [showDeleteButton]="true" (onNext)="onDrugListViewPageChange($event)"
                        (onPrevious)="onDrugListViewPageChange($event)" [showItemsPerPageSelection]="showItemPerPageDropdown(exclusionDrugList.totalElements!)"
                        (onDelete)="deleteDrugDetailData($event.id)" (onSizeChange)="ondrugListViewPageSizeChange($event)" [customCells]="{sfdaDescription:drugNameCell}">
                    </list-view>
                    <ng-template #drugNameCell let-row="row">
                        <div class="flex flex-col">
                            <span>{{row.sfdaDescription}}</span>
                            <span class="text-sm text-tertiary">{{row.sfdaCode}}</span>
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px] mt-24 pt-24">
                <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" routerLink="/drug-exclusion-management/list"
                    type="button">{{'CANCEL'|translate}}</waseel-button>
                <waseel-button type="button" [disabled]="!exclusionListName.value || exclusionTypeList.content.length == 0 || exclusionDrugList.content.length == 0" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="createDrugExclusion()">{{'CREATE'|translate}}</waseel-button>
            </div>
        </div>
    </div>
</app-base-page>

<waseel-dialog (onClose)="closeAddBasedOnDialog($event)" [clipContent]="false" *ngIf="addBasedOnDialogOpen">
    <app-add-exclusion-list-based-on-dialog [onClose]="closeAddBasedOnDialog" [fromPage]="'create'"></app-add-exclusion-list-based-on-dialog>
</waseel-dialog>

<waseel-dialog [clipContent]="false" (onClose)="closeAddDrugDialog($event)" *ngIf="addDrugDialogOpen">
    <app-add-drug-exclusion-list-drug-dialog [onClose]="closeAddDrugDialog"></app-add-drug-exclusion-list-drug-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeUploadDrugListDialog($event)" *ngIf="uploadDrugDialogOpen">
    <app-upload-drug-exclusion-list-drug-dialog [onClose]="closeUploadDrugListDialog" [addedDrugsList]="localExclusionDrugList.content"></app-upload-drug-exclusion-list-drug-dialog>
</waseel-dialog>