<div class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
    <h6 class="subtitle-1 text-text dark:text-neutral-25">{{'EDIT-FORMULARY-NAME'|translate}}</h6>
    <waseel-icon-button class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100"
        icon="close" (onClick)="closeDialog()" color="default" variant="transparent"></waseel-icon-button>
</div>
<div class="p-16 pb-0">
    <div class="group">
        <waseel-textbox [label]="'FORMULARY-NAME'|translate" [maxLength]="100" [error]="formularyNameErrorMsg" [(ngModel)]="formularyDetail!.formularyName" [placeholder]="'ENTER-NAME'|translate"></waseel-textbox>
    </div>
</div>
<div class="py-12 px-16 flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px]">
    <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" type="button" (onClick)="closeDialog()">{{'CANCEL'|translate}}</waseel-button>
    <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (click)="updateFormularyName()">{{'SAVE'|translate}}</waseel-button>
</div>