<ng-container *ngIf="(color=='primary' || color=='danger') && variant=='filled'">
    <button [type]="type" [disabled]="disabled" (click)="onButtonClick($event)"
        [class]="'rounded-[8px] text-white disabled:bg-neutral-200 inline-flex items-center justify-center system-transition' + paddings + ' ' + cssClass + ' ' + (color =='primary' && 'bg-primary hover:enabled:bg-primary-600 focus:enabled:bg-primary-600 active:enabled:bg-primary-600 focus-shadow-primary') + ' ' + (color =='danger' && 'bg-error hover:enabled:bg-error-600 focus:enabled:bg-error-600 active:enabled:bg-error-600 focus-shadow-error')"
        [class.px-16]="!size">
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' '+ leftIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='left'"></waseel-icon>
        <span class="relative top-2"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' ' + rightIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='right'"></waseel-icon>
    </button>
</ng-container>

<ng-container *ngIf="color=='primary' && variant=='tonal'">
    <button [type]="type" [disabled]="disabled" (click)="onButtonClick($event)"
        [class]="'rounded-[8px] bg-primary-50 disabled:text-primary-400 text-primary inline-flex items-center justify-center system-transition hover:enabled:bg-primary-100 focus:enabled:bg-primary-100 active:enabled:bg-primary-100 focus-shadow-primary' + paddings + ' ' + cssClass"
        [class.px-16]="!size">
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' '+ leftIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='left'"></waseel-icon>
        <span class="relative top-2"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' ' + rightIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='right'"></waseel-icon>
    </button>
</ng-container>

<ng-container *ngIf="color=='primary' && variant=='text'">
    <button [type]="type" [disabled]="disabled" (click)="onButtonClick($event)"
        [class]="'rounded-[8px] bg-transparent text-primary disabled:text-primary-200 inline-flex items-center justify-center system-transition hover:enabled:bg-primary-50 focus:enabled:bg-primary-50 active:enabled:bg-primary-50 focus-shadow-primary' + paddings + ' ' + cssClass"
        [class.px-16]="!size">
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' '+ leftIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='left'"></waseel-icon>
        <span class="relative top-2"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' ' + rightIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='right'"></waseel-icon>
    </button>
</ng-container>

<ng-container *ngIf="color=='default' && variant=='filled'">
    <button [type]="type" [disabled]="disabled" (click)="onButtonClick($event)"
        [class]="'rounded-[8px] bg-neutral-50 disabled:text-neutral-400 text-secondary inline-flex items-center justify-center system-transition hover:enabled:bg-neutral-50 focus:enabled:bg-neutral-50 active:enabled:bg-neutral-50 focus-shadow-default' + paddings + ' ' + cssClass"
        [class.px-16]="!size">
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' '+ leftIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='left'"></waseel-icon>
        <span class="relative top-2"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' ' + rightIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='right'"></waseel-icon>
    </button>
</ng-container>

<ng-container *ngIf="color=='default' && variant=='text'">
    <button [type]="type" [disabled]="disabled" (click)="onButtonClick($event)"
        [class]="'rounded-[8px] bg-transparent disabled:text-neutral-400 text-secondary inline-flex items-center justify-center system-transition hover:enabled:bg-neutral-50 focus:enabled:bg-neutral-50 active:enabled:bg-neutral-50 focus-shadow-default' + paddings + ' ' + cssClass"
        [class.px-16]="!size">
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' '+ leftIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='left'"></waseel-icon>
        <span class="relative top-2"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
        <waseel-icon [icon]="iconName" [cssClass]="'block '+ iconSize +' ' + rightIconSpacings + (iconRtlInvert ? ' rtl-invert ' : '') " *ngIf="icon=='right'"></waseel-icon>
    </button>
</ng-container>

<ng-template #contentTemplate><ng-content></ng-content></ng-template>