<div class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
    <h6 class="subtitle-1" *ngIf="dialogMode == 'add'">
        {{'customization.addDuplicationTherapyCustomization'|translate}}</h6>
    <h6 class="subtitle-1" *ngIf="dialogMode == 'edit'">
        {{'customization.editDuplicationTherapyCustomization'|translate}}</h6>
    <waseel-icon-button
        class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100"
        icon="close" (onClick)="closeDialog()" color="default" variant="transparent"
        [tooltip]="'CLOSE' | translate"></waseel-icon-button>
</div>
<form [formGroup]="duplicationTherapyCustomizationForm" (submit)="saveData()">
    <div class="p-16 pb-0">
        <div class="mb-16 flex text-primary rounded-[8px] py-[10px] bg-primary-50 px-12">
            <waseel-icon icon="info" cssClass="h-24 w-24 block"></waseel-icon>
            <span
                class="body-2 ltr:pl-8 rtl:pr-8 block relative top-2">{{'DRUG-TO-DRUG-REVERSE-RULE-MESSAGE'|translate}}</span>
        </div>

        <waseel-select-with-search name="serviceCode" formControlName="serviceCode" title="{{selectedServiceCode}}"
            [disabled]="dialogMode == 'edit'" [label]="'customization.serviceCode' | translate"
            [initialOption]="serviceCodeInitialOption" [options]="(lovService.drugsList$ | async) || []"
            [placeholder]="'SELECT' | translate" (onSearch)="filterServiceCode($event)"></waseel-select-with-search>
        <div class="row small-gutter">
            <div class="col-md-6">
                <waseel-select-with-search name="interactedServiceCode" formControlName="interactedServiceCode"
                    title="{{selectedInteractedServiceCode}}" [disabled]="dialogMode == 'edit'"
                    [label]="'customization.interactedServiceCode' | translate"
                    [initialOption]="interactedServiceCodeInitialOption" [options]="(lovService.drugsList$ | async) || []"
                    [placeholder]="'SELECT' | translate"
                    (onSearch)="filterServiceCode($event)"></waseel-select-with-search>
            </div>
            <div class="col-md-6" *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]">
                <waseel-select-with-search name="payerId" [initialOption]="payerIdInitialOption"
                    title="{{selectedPayersId}}" formControlName="payerId" [label]="'customization.payer' | translate"
                    [options]="(lovService.payersList$ | async) || []" [placeholder]="'SELECT' | translate"
                    (onSearch)="filterPayers($event)"></waseel-select-with-search>
            </div>
            <div class="col-md-6">
                <waseel-select name="serviceStatus" #serviceStatus formControlName="serviceStatus"
                    [label]="'customization.serviceStatus' | translate"
                    [options]="(lovService.drugsStatuses$ | async) || []"
                    [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-select name="moduleName" formControlName="moduleName"
                    [label]="'customization.module' | translate" [options]="(lovService.modulesList$ | async) || []"
                    [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-textbox label="{{'customization.rejectionReason'| translate}}"
                    title="{{selectedRejectionReason}}" formControlName="additionalRejectionReason"
                    placeholder="{{'TYPE-HERE' | translate}}" [hidden]="serviceStatus.value == 'APPROVED'"
                    [maxLength]="500" [minLength]="0"></waseel-textbox>
            </div>
        </div>
        <waseel-alert *ngIf="errorCode" class="mt-16 mb-16 block">
            {{ errorCode}}
        </waseel-alert>
    </div>
    <div
        class="py-12 px-16 flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px]">
        <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="closeDialog()"
            type="button">
            {{'CANCEL'|translate}}
        </waseel-button>
        <waseel-button type="submit" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
            [disabled]="duplicationTherapyCustomizationForm.invalid || (dialogMode == 'edit' && !dataHasChanged()) || (dialogMode == 'add' && !dataHasChanged())">
            {{'SAVE'|translate}}
        </waseel-button>
    </div>
</form>
