<app-base-page headerTitle="{{'prescription.prescriptions' | translate}}">

    <ng-container header-actions>
        <waseel-button variant="tonal" icon="left" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" iconName="filter" (onClick)="isFilterDrawerOpen=true">{{'FILTER' |
            translate}}</waseel-button>
        <!-- <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" *ifHasAnyAllowedAuthority="['PBM_PRESCRIPTION', 'PRESCRIPTION_SUBMISSION', 'NEW_PRESCRIPTION','FOLLOW_UP_PRESCRIPTION']" icon="left" iconName="add" routerLink="/prescription/add">{{'ADD-NEW' |
                translate}}</waseel-button>
         -->
        <!-- <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (click)="goToviewpayerdetailsPage()">View Payer Details</waseel-button> -->
    </ng-container>
</app-base-page>
<form [formGroup]="filterForm" (submit)="applyFilter()">
    <waseel-drawer title="FILTER" [(isOpen)]="isFilterDrawerOpen">
        <ng-container body-block>
            <!-- <waseel-alert *ngIf="errorCode.length > 0" class="mt-16 mb-16 block">
                {{ errorCode | translate }}
            </waseel-alert> -->
            <waseel-textbox name="referenceNo" formControlName="referenceNo" [(ngModel)]="refNo " [label]="'prescription.referenceNo' | translate"
                [placeholder]="'prescription.referenceNo' | translate"></waseel-textbox>
            <waseel-textbox type="date" name="startdate" formControlName="startdate" [label]="'prescription.startdate' | translate" [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
            <waseel-textbox type="date" name="enddate" formControlName="enddate" [label]="'prescription.enddate' | translate" [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
            <waseel-textbox name="memberName" formControlName="memberName" [(ngModel)]="memberN" [label]="'prescription.member' | translate"
                [placeholder]="'prescription.member' | translate"></waseel-textbox>

            <waseel-select name="status" [placeholder]="'SELECT'|translate" formControlName="status" [label]="'prescription.status' | translate"></waseel-select>
            <!-- <waseel-textbox name="provider" formControlName="provider"  [label]="'prescription.provider' | translate"
                [placeholder]="'prescription.provider' | translate"></waseel-textbox> -->

            <!-- <waseel-select name="provider" formControlName="provider" [label]="'prescription.provider' | translate" [options]="provider"></waseel-select>  -->
            <div class="col">
                <div class="group">
                    <waseel-textbox [placeholder]="'prescription.provider'|translate" [formControl]="provider" (onSearch)="  getProviders($event)"></waseel-textbox>
                    <div *ngIf="((prescriptionLOVs.providersList$ | async)?.length || 0) > 0">
                        <div>
                            <ul class="py-8">
                                <li *ngFor="let provider of  ((prescriptionLOVs.providersList$ | async) || []); let i = index">
                                    <button (click)="selectItem(provider)">
                                        {{provider}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0" footer-block>
            <waseel-button variant="tonal" type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0">{{'RESET' |
                translate}}</waseel-button>
            <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="applyFilter()">{{'FILTER' | translate}}</waseel-button>
        </div>
    </waseel-drawer>
</form>