<app-base-page headerTitle="{{'EXCLUSION-LIST-DETAILS' | translate}}" [onBackClick]="onBackClick">
    <div page-main-section class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px] p-24">
            <div class="row pb-16">
                <div class="col-md-6">
                    <div class="row small-gutter align-items-center">
                        <div class="col-auto">
                            <label class="body-2 text-secondary !pb-2">{{'EXCLUSION-LIST-NAME' |translate}}</label>
                            <p class="body-1">{{exclusionDetailName}}</p>
                        </div>
                        <div class="col-auto">
                            <waseel-icon-button icon="edit" size="small" variant="tonal" (click)="editExclusionListNameDialogOpen=true"
                                [tooltip]="'EDIT' | translate"></waseel-icon-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'BASED-ON'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button variant="tonal" icon="left" size="small" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" iconName="filter"
                        (click)="isBasedOnFilterDrawerOpen =true">
                        {{'FILTER' | translate}}
                    </waseel-button>
                    <waseel-button size="small" icon="left" iconName="add" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (click)="addBasedOnDialogOpen=true">
                        {{"ADD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative rounded-[8px] mb-24">
                <list-view [list]="exclusionTypeList" [prototype]="exclusionTypeListPrototype" [translateData]="[':4']" [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                [showEditButton]="false" [showDeleteButton]="true"  [showEmptyRows]="false" (onDelete)="deleteBasedOnDetail($event.id)"
                (onNext)="exclusionTypeListDataControl.pageNumber = $event.pageNumber; fetchData('BASEDON')" (onPrevious)="exclusionTypeListDataControl.pageNumber = $event.pageNumber; fetchData('BASEDON')"
                [customCells]="{drugName:drugNameCell}" [showItemsPerPageSelection]="showItemPerPageDropdown(exclusionTypeList.totalElements!)"
                (onSizeChange)="exclusionTypeListDataControl.recordSize = $event.pageSize; exclusionTypeListDataControl.pageNumber=0; fetchData('BASEDON')">
            </list-view>
            </div>

            <div class="row align-items-center pb-16">
                <div class="col">
                    <p class="subtitle-1">{{'DRUGS'|translate}}</p>
                </div>
                <div class="col-auto">
                    <waseel-button variant="tonal" icon="left" size="small" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" iconName="filter"
                        (click)="isDrugFilterDrawerOpen=true">
                        {{'FILTER' | translate}}
                    </waseel-button>
                    <waseel-button size="small" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" icon="left" iconName="add" (click)="addDrugDialogOpen=true">
                        {{"ADD"|translate}}
                    </waseel-button>
                </div>
            </div>

            <div class="overflow-x-auto relative rounded-[8px]">
                <list-view [list]="drugExclusionDetailsList" [prototype]="drugExclusionListPrototype" [translateData]="[':4']" [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                [showEditButton]="false" [showDeleteButton]="true" (onDelete)="onDrugDelete($event.id)" [showEmptyRows]="false"
                (onNext)="drugDataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')" (onPrevious)="drugDataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')"
                [customCells]="{drugName:drugNameCell}" [showItemsPerPageSelection]="showItemPerPageDropdown(drugExclusionDetailsList.totalElements!)"
                (onSizeChange)="drugDataControl.recordSize = $event.pageSize; drugDataControl.pageNumber=0; fetchData('DRUGS')">
            </list-view>
            <ng-template #drugNameCell let-row="row">
                <div class="flex flex-col">
                    <span>{{row.drugName}}</span>
                    <span class="text-sm text-tertiary">{{row.drugCode}}</span>
                </div>
            </ng-template>
            </div>

        </div>
    </div>
    <ng-container header-actions>
        <waseel-button icon="left" iconName="delete" (click)=" deleteExclusion()">{{'DELETE' | translate}}</waseel-button>
    </ng-container>

</app-base-page>

<waseel-dialog (onClose)="closeAddBasedOnDialog($event)" [clipContent]="false" *ngIf="addBasedOnDialogOpen">
    <app-add-exclusion-list-based-on-dialog [onClose]="closeAddBasedOnDialog" [fromPage]="'details'"></app-add-exclusion-list-based-on-dialog>
</waseel-dialog>

<waseel-dialog [clipContent]="false" (onClose)="closeAddDrugDialog($event)" *ngIf="addDrugDialogOpen">
    <app-add-drug-exclusion-list-drug-dialog [onClose]="closeAddDrugDialog" [fromPage]="'details'" [exclusionId]=exclusionDrugId></app-add-drug-exclusion-list-drug-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeEditExclusionListNameDialog($event)" *ngIf="editExclusionListNameDialogOpen" size="sm">
    <app-edit-exclusion-list-dialog [exclusionDetail]="exclusionDetail" [onClose]="closeEditExclusionListNameDialog"></app-edit-exclusion-list-dialog>
</waseel-dialog>
<form [formGroup]="exclusionFilterForm" (submit)="applyFilterForExclusion()">
    <waseel-drawer title="FILTER" [(isOpen)]="isBasedOnFilterDrawerOpen">
    <ng-container body-block>
        <waseel-select  name="exclusionType" formControlName="exclusionType" (ngModelChange)="changeExclusionType($event)" #selectedType [label]="'TYPE' | translate" [options]="exclusionTypesOptions" [placeholder]="'SELECT' | translate"></waseel-select>
        <waseel-textbox name="networkExclusionName" formControlName="networkExclusionName" [disabled]='selectedType.value != "Network Exclusion"' [label]="'NETWORK' | translate" [placeholder]="'ENTER-NETWORK-NAME' | translate"></waseel-textbox>
        <waseel-textbox name="providerExclusionName" formControlName="providerExclusionName" [disabled]='selectedType.value != "Provider Exclusion"' [label]="'PROVIDER' | translate" [placeholder]="'ENTER-PROVIDER-NAME' | translate"></waseel-textbox>
        <waseel-textbox name="specialityExclusionName" formControlName="specialityExclusionName" [disabled]='selectedType.value != "Speciality Exclusion"' [label]="'SPECIALITY' | translate" [placeholder]="'ENTER-SPECIALITY-NAME' | translate"></waseel-textbox>
    </ng-container>
    <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0" footer-block>
        <waseel-button variant="tonal" type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (click)="exclusionResetFilter()">{{'RESET' | translate}}</waseel-button>
        <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" type="submit" (onClick)="applyFilterForExclusion">{{'FILTER' | translate}}</waseel-button>
    </div>
    </waseel-drawer>
</form>
<!-- <waseel-drawer title="FILTER" [(isOpen)]="isDrugFilterDrawerOpen">
    </waseel-drawer>
</form>
<waseel-drawer title="FILTER" [(isOpen)]="isDrugFilterDrawerOpen">
    <ng-container body-block>
        <waseel-textbox [label]="'SFDA-CODE' | translate" [placeholder]="'ENTER-SFDA-CODE' | translate"></waseel-textbox>
        <waseel-textbox [label]="'TRADE-NAME' | translate" [placeholder]="'ENTER-TRADE-NAME' | translate"></waseel-textbox>
        <waseel-textbox [label]="'SCIENTIFIC-NAME' | translate" [placeholder]="'ENTER-SCIENTIFIC-NAME' | translate"></waseel-textbox>
        <waseel-textbox [label]="'SCIENTIFIC-CODE' | translate" [placeholder]="'ENTER-SCIENTIFIC-CODE' | translate"></waseel-textbox>
        <waseel-textbox type="date" [label]="'UPDATED-DATE-FROM' | translate" [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
        <waseel-textbox type="date" [label]="'UPDATED-DATE-TO' | translate" [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
    </ng-container>
    <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0" footer-block>
        <waseel-button variant="tonal" type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0">{{'RESET' | translate}}</waseel-button>
        <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" type="submit">{{'FILTER' | translate}}</waseel-button>
    </div>
</waseel-drawer> -->



    <form [formGroup]="drugFilterForm" (submit)="applyFilterForDrug()">
        <waseel-drawer title="FILTER" [(isOpen)]="isDrugFilterDrawerOpen">
            <ng-container body-block>
                <waseel-alert *ngIf="errorCode.length > 0" class="mt-16 mb-16 block">
                    {{ errorCode | translate }}
                </waseel-alert>
                <waseel-textbox name="drugCode" formControlName="drugCode" [(ngModel)]="filterDrugCode" (keydown.space)="$event.preventDefault()"
                 [label]="'prescription.drugCode' | translate" [placeholder]="'drugCode'"></waseel-textbox>
                <waseel-textbox name="drugName" formControlName="drugName" [(ngModel)]="trimmedDrugName" [label]="'prescription.drugName' | translate"
                    [placeholder]="'drugName'"></waseel-textbox>
                <waseel-textbox name="scientificCode" formControlName="scientificCode" [(ngModel)]="trimmedScientificCode" [label]="'prescription.scientificCode' | translate"
                    [placeholder]="'scientificCode'"></waseel-textbox>
                <waseel-textbox name="scientificName" formControlName="scientificName" [(ngModel)]="trimmedScientificName" [label]="'prescription.scientificName' | translate"
                    [placeholder]="'scientificName'"></waseel-textbox>
                <waseel-textbox type="date" name="updatedDateFrom" formControlName="updatedDateFrom" [label]="'prescription.updatedDateFrom' | translate"
                    [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
                <waseel-textbox type="date" name="updatedDateTo" formControlName="updatedDateTo" [label]="'prescription.updatedDateTo' | translate"
                    [placeholder]="'mm/dd/yyyy'"></waseel-textbox>
            </ng-container>
            <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0" footer-block>
                <waseel-button variant="tonal" type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="resetFilter()">{{'RESET' |
                    translate}}</waseel-button>
                <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="applyFilterForDrug()"  >{{'FILTER' | translate}}</waseel-button>
            </div>
        </waseel-drawer>
    </form>