<app-base-page headerTitle="{{'customization.drugDrugInteraction' | translate}}">
    <div page-main-section
         class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white dark:bg-neutral-800 shadow-1 rounded-[8px]">
            <list-view [list]="data"
                       [extraClasses]="getExtraClassesForListView()"
                       [prototype]="listPrototype"
                       [translateData]="[':4']"
                       [isLoading]="listIsLoading"
                       (onNext)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       (onPrevious)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       [noContentTitle]="'NO-RECORDS-FOUND'|translate"
                       (onDelete)="deleteDrugToDrugListData(+($event.id))"
                       (onItemClick)="openViewDrugToDrugDialog(+($event.id))"
                       (onEdit)="openEditDrugToDrugDialog(+($event.id))"
                       (onSizeChange)="dataControl.recordSize = $event.pageSize; dataControl.pageNumber=0; fetchData()"></list-view>
        </div>
    </div>
    <ng-container header-actions>
        <waseel-button variant="tonal"
                       icon="left"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       iconName="filter"
                       (onClick)="isFilterDrawerOpen=true">{{'FILTER' |
            translate}}</waseel-button>
        <waseel-button icon="left"
                       iconName="add"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       (onClick)="openAddDrugToDrugDialog()">{{'ADD' |
            translate}}</waseel-button>
        <waseel-button icon="left"
                       iconName="upload"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       (onClick)="uploadDrugToDrugDialogOpen=true">{{'UPLOAD' |
            translate}}</waseel-button>
    </ng-container>
</app-base-page>

<form [formGroup]="filterForm"
      (submit)="applyFilter()">
    <waseel-drawer title="FILTER"
                   [(isOpen)]="isFilterDrawerOpen">
        <ng-container body-block>
            <waseel-select-with-search name="serviceCode"
                                       formControlName="serviceCode"
                                       [label]="'customization.serviceCode' | translate"
                                       [options]="(lovService.drugsList$ | async) || []"
                                       (onSearch)="filterServiceCode($event)"
                                       [placeholder]="'SELECT' | translate"></waseel-select-with-search>
            <waseel-select-with-search name="interactedServiceCode"
                                       formControlName="interactedServiceCode"
                                       [label]="'customization.interactedServiceCode' | translate"
                                       [options]="(lovService.drugsList$ | async) || []"
                                       (onSearch)="filterServiceCode($event)"
                                       [placeholder]="'SELECT' | translate"></waseel-select-with-search>
            <waseel-select *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]"
                           name="payerId"
                           formControlName="payerId"
                           [label]="'customization.payer' | translate"
                           [options]="(lovService.payersList$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select name="serviceStatus"
                           formControlName="serviceStatus"
                           [label]="'customization.serviceStatus' | translate"
                           [options]="(lovService.drugsStatuses$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select name="moduleName"
                           formControlName="moduleName"
                           [label]="'customization.module' | translate"
                           [options]="(lovService.modulesList$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
        </ng-container>
        <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0"
             footer-block>
            <waseel-button variant="tonal"
                           type="button"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="resetFilter()">{{'RESET' |
                translate}}</waseel-button>
            <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           type="submit"
                           (onClick)="applyFilter()">{{'FILTER' | translate}}</waseel-button>
        </div>
    </waseel-drawer>
</form>

<waseel-dialog (onClose)=" closeUploadDrugToDrugDialog($event)"
               *ngIf="uploadDrugToDrugDialogOpen">
    <app-upload-drug-drug-interaction-dialog
                                             [onClose]="closeUploadDrugToDrugDialog"></app-upload-drug-drug-interaction-dialog>
</waseel-dialog>
<waseel-dialog (onClose)="closeAddDrugToDrugDialog($event)"
               *ngIf="addEditDrugToDrugDialogOpen">
    <app-add-edit-drug-drug-interaction-dialog [data]="drugtodrugDialogsData "
                                               [onClose]="closeAddDrugToDrugDialog"
                                               [dialogMode]="addEditDrugToDrugDialogMode"></app-add-edit-drug-drug-interaction-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeViewDrugToDrugDialog($event)"
               *ngIf="viewDrugToDrugDialogOpen">
    <app-view-drug-drug-interaction-dialog [data]="drugtodrugDialogsData "
                                           [onClose]="closeViewDrugToDrugDialog"></app-view-drug-drug-interaction-dialog>
</waseel-dialog>