<div class="p-16">
    <waseel-textbox [maxLength]="3000" #commentTextBox placeholder="{{'PROVIDE-REASON-FOR-CHANGE'|translate}}" [label]="'WHY-DO-YOU-WANT-TO-CHANGE-DECISION' | translate" [multiline]="true"
        [rows]="4" [(ngModel)]="decisionDescription" [error]="commentboxError? 'Comment is required' :''"></waseel-textbox>
    <div class="row small-gutter">
        <div class="col-6">
            <waseel-button variant="tonal" class="w-full" cssClass="w-full" (onClick)="closeDialog(commentTextBox.value)">{{'CANCEL'|translate}}</waseel-button>
        </div>
        <div class="col-6">
            <waseel-button class="w-full" cssClass="w-full" (onClick)="saveComments(commentTextBox.value)">{{'SAVE-COMMENTS'|translate}}</waseel-button>
        </div>
    </div>
    </div>