<waseel-loading-overlay *ngIf="isLoading"></waseel-loading-overlay>
<ng-container *ngIf="(hasContent$ | async)">
    <div [class]="(!hideScrollbar ? 'overflow-x-auto ':'') + 'rounded-tl-[8px] rounded-tr-[8px] relative'">
        <table [cellPadding]="0"
               [cellSpacing]="0"
               class="w-full text-secondary body-2 ltr:text-left rtl:text-right">
            <thead>
                <tr>
                    <th *ngIf="showCheckBox"
                        scope="col"
                        class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                        <input type="checkbox"
                               [value]=""
                               (change)="onHeaderCheckboxChange($event,list!)"
                               [checked]="allCheckBoxIsChecked"
                               [indeterminate]="allCheckBoxIsIndeterminate" />
                    </th>
                    <th *ngFor="let header of orderedHeaders"
                        scope="col"
                        class="py-14 px-12 border-b-2 border-b-light-border body-2-medium bg-neutral-25">
                        {{header.headerDisplayCode | translate}}
                    </th>
                    <th *ngIf="showEditButton || showDeleteButton || showAcceptButton || showRejectButton|| showCommentButton"
                        class="border-b-2 border-b-light-border body-2-medium bg-neutral-25"
                        width="10">
                    </th>
                    <th *ngIf="showMoreActionsMenu  && moreActionsList.length > 0"
                        class="border-b-2 border-b-light-border body-2-medium bg-neutral-25"
                        width="10">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of list?.content; let i = index"
                    [ngClass]="extraClasses[i+':'] + (isItemClickEmitterUsed?' hover:cursor-pointer':' ')"
                    class="system-transition hover:bg-neutral-25"
                    (click)="onItemClick($event, getItemId(row))">
                    <td *ngIf="showCheckBox"
                        class="py-14 px-12 border-b border-b-light-border">
                        <input type="checkbox"
                               [value]=""
                               (change)="onCheckboxChange($event, row)"
                               [checked]="selectedCheckBoxItem.includes(getItemId(row))" />
                    </td>
                    <ng-container *ngFor="let header of orderedHeaders; let j = index">
                        <td *ngIf="customCells == null || customCells[header.propertyName] == null"
                            [ngClass]="extraClasses[i+':'+ j] + ' ' + extraClasses[':'+ j]"
                            class="py-14 px-12 border-b border-b-light-border">
                            {{translateData.includes(i+':'+j) || translateData.includes(':'+j)?
                            (row[header.propertyName] | translate) :
                            row[header.propertyName]}}
                            <ng-container *ngFor="let nestedProperty of header.nestedProperties">
                                <br *ngIf="row[nestedProperty] != null">
                                <span *ngIf="row[nestedProperty] != null"
                                      class="text-tertiary">{{row[nestedProperty]}}</span>
                            </ng-container>
                        </td>
                        <td *ngIf="customCells != null && customCells[header.propertyName] != null"
                            [ngClass]="extraClasses[i+':'+ j] + ' ' + extraClasses[':'+ j]"
                            class="py-14 px-12 border-b border-b-light-border">
                            <ng-container [ngTemplateOutlet]="customCells[header.propertyName]"
                                          [ngTemplateOutletContext]="{row:row}">
                            </ng-container>
                        </td>
                    </ng-container>
                    <td *ngIf="showEditButton || showDeleteButton || showAcceptButton || showRejectButton || showCommentButton"
                        class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border ltr:text-right rtl:text-left">
                        <waseel-icon-button *ngIf="evaluateShowingAcceptButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            [cssClass]="'!text-success'"
                                            color="default"
                                            icon="check"
                                            [tooltip]="'ACCEPT'|translate"
                                            (onClick)="onAccept($event, getItemId(row))">
                        </waseel-icon-button>
                        <waseel-icon-button *ngIf="evaluateShowingRejectButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            [cssClass]="'!text-error'"
                                            color="default"
                                            icon="close"
                                            [tooltip]="'REJECT'|translate"
                                            (onClick)="onReject($event, getItemId(row))">
                        </waseel-icon-button>
                        <waseel-icon-button *ngIf="evaluateShowingEditButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            color="default"
                                            icon="edit"
                                            [tooltip]="'EDIT'|translate"
                                            (onClick)="onEdit($event, getItemId(row))">
                        </waseel-icon-button>
                        <waseel-icon-button *ngIf="evaluateShowingDeleteButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            color="default"
                                            icon="delete"
                                            [tooltip]="'DELETE'|translate"
                                            (onClick)="onDelete($event, getItemId(row))">
                        </waseel-icon-button>
                        <waseel-icon-button *ngIf="evaluateShowingEmptyCommentButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            color="default"
                                            icon="add-message"
                                            [tooltip]="'COMMENT'|translate"
                                            (onClick)="onComment($event, getItemId(row))">
                        </waseel-icon-button>
                        <waseel-icon-button *ngIf="evaluateShowingFilledCommentButton(row)"
                                            variant="transparent"
                                            class="inline-block align-middle"
                                            color="primary"
                                            icon="add-message"
                                            [tooltip]="'COMMENT'|translate"
                                            (onClick)="onComment($event, getItemId(row))">
                        </waseel-icon-button>
                    </td>
                    <td (click)="$event.stopPropagation()"
                        *ngIf="showMoreActionsMenu && moreActionsList.length > 0"
                        class="whitespace-nowrap ltr:!pr-4 rtl:!pl-4 border-b border-b-light-border">
                        <div class="group relative inline-block"
                             *ngIf="rowHasActions(row)">

                            <waseel-icon-button variant="transparent"
                                                class="inline-block align-middle"
                                                color="default"
                                                icon="more"
                                                [tooltip]="'MORE'|translate">
                            </waseel-icon-button>
                            <div class="hidden group-focus-within:block">
                                <div
                                     class="absolute rounded-[8px] shadow-2 bg-white top-[100%] ltr:right-0 rtl:left-0 w-auto min-w-[160px] max-w-[320px] z-10">
                                    <ul class="py-8">
                                        <ng-container *ngFor="let actionItem of moreActionsList">
                                            <li
                                                *ngIf="actionItem.isVisible(row) && actionItem.allowedAuthorities == null">
                                                <button class="w-full text-start px-16 block py-10 body-2 text-text system-transition hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                                        (click)="onMoreActionsMenuItemClick(actionItem.action, getItemId(row))">{{actionItem.displayCode|translate}}</button>
                                            </li>
                                            <ng-container
                                                          *ngIf="actionItem.allowedAuthorities != null && actionItem.isVisible(row)">
                                                <li *ifHasAnyAllowedAuthority="actionItem.allowedAuthorities">
                                                    <button class="w-full text-start px-16 block py-10 body-2 text-text system-transition hover:bg-neutral-50 focus:bg-neutral-50 active:bg-neutral-50"
                                                            (click)="onMoreActionsMenuItemClick(actionItem.action, getItemId(row))">{{actionItem.displayCode|translate}}</button>
                                                </li>
                                            </ng-container>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr *ngFor="let emptyRow of emptyRows"
                    class="h-48">
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex justify-end items-center p-12"
         *ngIf="((list?.totalPages ||0) != 1 && !showItemsPerPageSelection) || showItemsPerPageSelection">
        <span class="text-secondary body-2 block ltr:pr-12 rtl:pl-12">
            {{'ITEMS-PER-PAGE' | translate}}
        </span>
        <div>
            <waseel-select wrapperCssClass="pb-0"
                           [options]="paginationOptions"
                           [formControl]="pageSizeControl">
            </waseel-select>
        </div>
        <span class="text-secondary body-2 block px-24">
            {{'PAGE' | translate}} {{(list?.number || 0)+1}} {{'OF' | translate}} {{list?.totalPages}}
        </span>
        <waseel-icon-button [tooltip]="'PREVIOUS'|translate"
                            [disabled]="!hasPrevious"
                            variant="transparent"
                            (onClick)="onPrevious($event)"
                            color="default"
                            [icon]="!('language'| translate).startsWith('E')?'chevron-left':'chevron-right'">
        </waseel-icon-button>
        <waseel-icon-button [tooltip]="'NEXT'|translate"
                            [disabled]="!hasNext"
                            variant="transparent"
                            (onClick)="onNext($event)"
                            color="default"
                            [icon]="!('language'| translate).startsWith('E')?'chevron-right':'chevron-left'">
        </waseel-icon-button>
    </div>
</ng-container>

<ng-container *ngIf="!(hasContent$ | async) && !isLoading">
    <no-content [message]="noContentTitle"
                [subtitle]="noContentSubtitle"
                [isSearchAgain]="isNoContentSearchAgain">
    </no-content>
</ng-container>