<app-main-layout [foldSideSection]="foldSideSection">
    <aside class="fixed top-0 bottom-0 w-[280px] bg-white dark:bg-neutral-800 shadow-2 z-10 flex flex-col system-transition sidebar" side-section
        [attr.data-folded]="foldSideSection">
        <div class="flex pt-10 ltr:pr-8 rtl:pl-8 pb-[9px] ltr:pl-16 rtl:pr-16 items-center border-b border-b-light-grey dark:border-b-neutral-600 flex-shrink-0">
            <img src="./assets/logo.svg" alt="Logo" class="block dark:hidden" />
            <img src="./assets/logo-white.svg" alt="Logo" class="hidden dark:block" />
            <waseel-icon-button [tooltip]="'TOGGLE-MENU'|translate" variant="transparent" color="default" icon="menu" (onClick)="onMenuIconClick()"
                class="ltr:ml-auto rtl:mr-auto"></waseel-icon-button>
        </div>
        <div class="flex-grow overflow-auto p-16">
            <app-nav-menu></app-nav-menu>
        </div>
        <div
            class="flex py-12 ltr:pl-16 rtl:pr-16 ltr:pr-12 rtl:pl-12 items-center border-t border-t-light-grey dark:border-t-neutral-600 flex-shrink-0 bg-neutral-25 dark:bg-neutral-700">
            <div class="flex-shrink-0">
                <p class="body-2 dark:text-neutral-25">{{(authService.user$ | async)?.userFullName}}</p>
                <span class="caption text-tertiary dark:text-neutral-400 block">{{(authService.user$ | async)?.accName}}</span>
            </div>
            <div class="ltr:ml-auto rtl:mr-auto">
                <app-language-switcher mode="icon-only"></app-language-switcher>
                <waseel-icon-button [tooltip]="'LOGOUT'|translate" variant="transparent" (onClick)="onSignOutClick()" color="default" icon="logout"></waseel-icon-button>
            </div>
        </div>
    </aside>
    <ng-container main-section>
        <app-header [titleCode]="headerTitle" [onBackClick]="onBackClick">
            <ng-content select="[header-actions]"></ng-content>
        </app-header>
        <ng-content select="[page-main-section]"></ng-content>
    </ng-container>
</app-main-layout>