<app-base-page headerTitle="{{'customization.drugDiagnosisCustomization' | translate}}">
    <div page-main-section
         class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white dark:bg-neutral-800 shadow-1 rounded-[8px]">
            <list-view [list]="data"
                       [extraClasses]="getExtraClassesForListView()"
                       [prototype]="listPrototype"
                       [translateData]="[':4']"
                       [isLoading]="listIsLoading"
                       (onNext)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       (onPrevious)="dataControl.pageNumber = $event.pageNumber; fetchData()"
                       [noContentTitle]="'NO-CUSTOMIZATION-FOUND'|translate"
                       (onItemClick)="openViewDrugDiagnosisDialog($event.id)"
                       (onSizeChange)="dataControl.recordSize = $event.pageSize; dataControl.pageNumber=0; fetchData()"
                       (onDelete)="deleteData($event.id)"
                       (onEdit)="openEditDrugDiagnosisDialog($event.id)"></list-view>
        </div>
    </div>
    <ng-container header-actions>
        <waseel-button variant="tonal"
                       icon="left"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       iconName="filter"
                       (onClick)="isFilterDrawerOpen=true">{{'FILTER' |
            translate}}</waseel-button>
        <waseel-button icon="left"
                       iconName="add"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       (onClick)="openAddDrugDiagnosisDialog()">{{'ADD' |
            translate}}</waseel-button>
        <waseel-button icon="left"
                       iconName="upload"
                       class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                       (onClick)="openUploadDrugDiagnosisCustomizationDialog()">{{'UPLOAD' |
            translate}}</waseel-button>
    </ng-container>
</app-base-page>

<form [formGroup]="filterForm"
      (submit)="applyFilter()">
    <waseel-drawer title="FILTER"
                   [(isOpen)]="isFilterDrawerOpen">
        <ng-container body-block>
            <waseel-select-with-search name="serviceCode"
                                       formControlName="serviceCode"
                                       [label]="'customization.serviceCode' | translate"
                                       [options]="(lovService.drugsList$ | async) || []"
                                       [placeholder]="'SELECT' | translate"
                                       (onSearch)="filterDrugs($event)"></waseel-select-with-search>
            <!-- <waseel-textbox type="date" name="updateDateAndTime" formControlName="updateDateAndTime" [label]="'prescription.updatedDateAndTime' | translate"
                [placeholder]="'mm/dd/yyyy'"></waseel-textbox> -->
            <waseel-select-with-search name="icdCode"
                                       formControlName="icdCode"
                                       [label]="'customization.icdCode' | translate"
                                       [options]="(lovService.diagnosisList$ | async) || []"
                                       [placeholder]="'SELECT' | translate"
                                       (onSearch)="filterDiagnosis($event)"></waseel-select-with-search>
            <waseel-select *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]"
                           name="payer"
                           formControlName="payer"
                           [label]="'customization.payer' | translate"
                           [options]="(lovService.payersList$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]"
                           name="categoryOfApproval"
                           formControlName="categoryOfApproval"
                           [label]="'customization.categoryOfApproval' | translate"
                           [options]="(lovService.categoriesOfApproval$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select name="rejectionCategory"
                           formControlName="rejectionCategory"
                           [label]="'customization.rejectionCategory' | translate"
                           [options]="(lovService.categoriesOfRejection$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select name="serviceStatus"
                           formControlName="serviceStatus"
                           [label]="'customization.serviceStatus' | translate"
                           [options]="(lovService.drugsStatuses$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
            <waseel-select name="moduleName"
                           formControlName="moduleName"
                           [label]="'customization.module' | translate"
                           [options]="(lovService.modulesList$ | async) || []"
                           [placeholder]="'SELECT' | translate"></waseel-select>
        </ng-container>
        <div class="flex justify-end py-12 px-16 items-center border-t border-t-light-border dark:border-t-neutral-600 flex-shrink-0"
             footer-block>
            <waseel-button variant="tonal"
                           type="button"
                           class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           (onClick)="resetFilter()">{{'RESET' |
                translate}}</waseel-button>
            <waseel-button class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
                           type="submit"
                           (onClick)="applyFilter()">{{'FILTER' | translate}}</waseel-button>
        </div>
    </waseel-drawer>
</form>

<waseel-dialog (onClose)="closeAddDrugDiagnosisDialog($event)"
               *ngIf="addEditDrugDiagnosisDialogOpen">
    <add-edit-drug-diagnosis-customization-dialog (onClose)="closeAddDrugDiagnosisDialog($event)"
                                                  [data]="drugDiagnosisDialogsData"
                                                  [dialogMode]="addEditDrugDiagnosisDialogMode"></add-edit-drug-diagnosis-customization-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeViewDrugDiagnosisDialog(null)"
               *ngIf="viewDrugDiagnosisDialogOpen">
    <view-drug-diagnosis-customization-dialog [data]="drugDiagnosisDialogsData"
                                              [onClose]="closeViewDrugDiagnosisDialog"></view-drug-diagnosis-customization-dialog>
</waseel-dialog>

<waseel-dialog (onClose)="closeUploadDrugDiagnosisCustomizationDialog(null)"
               *ngIf="uploadDrugDiagnosisCustomizationDialogOpen">
    <upload-drug-diagnosis-customization-dialog
                                                [onClose]="closeUploadDrugDiagnosisCustomizationDialog"></upload-drug-diagnosis-customization-dialog>
</waseel-dialog>