<app-base-page headerTitle="{{'main.prescription' | translate}} - {{ePrescriptionReferenceNumber}}">
    <div page-main-section class="pb-24 pt-88 system-transition main-content">
        <div class="bg-white shadow-1 rounded-[8px]">
            <div class="p-24">
                <div class="pb-16">
                    <label class=" subtitle-1  pb-16">{{'STATUS' |translate}}</label>
                    <p class="text-success body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'APPROVED' ||
                        payerMemberPhysicianInfoData.status === 'PARTIAL_APPROVED' ||
                        payerMemberPhysicianInfoData.status === 'PARTIAL_DISPENSED' ||
                        payerMemberPhysicianInfoData.status === 'DISPENSED'">
                        <ng-container *ngIf="payerMemberPhysicianInfoData.status">{{payerMemberPhysicianInfoData.status | translate}}</ng-container>
                    <p>
                    <p class="text-error body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'REJECTED' 
                        || payerMemberPhysicianInfoData.status === 'CANCELLED'">
                        <ng-container *ngIf="payerMemberPhysicianInfoData.status">{{payerMemberPhysicianInfoData.status | translate}}</ng-container>
                    <p>
                    <p class="text-warning body-1-medium" *ngIf="payerMemberPhysicianInfoData.status === 'PENDING'">
                        <ng-container *ngIf="payerMemberPhysicianInfoData.status">{{payerMemberPhysicianInfoData.status | translate}}</ng-container>
                    <p>
                    <p class="body-1-medium" *ngIf="payerMemberPhysicianInfoData.status !== 'REJECTED' && payerMemberPhysicianInfoData.status !== 'APPROVED'
                        && payerMemberPhysicianInfoData.status !== 'DISPENSED' && payerMemberPhysicianInfoData.status !== 'CANCELLED'
                        && payerMemberPhysicianInfoData.status !== 'PENDING' && payerMemberPhysicianInfoData.status !== 'PARTIAL_APPROVED'
                        && payerMemberPhysicianInfoData.status !== 'PARTIAL_DISPENSED'">
                        <ng-container *ngIf="payerMemberPhysicianInfoData.status">{{payerMemberPhysicianInfoData.status | translate}}</ng-container>
                    <p>
                </div>
                <p class="subtitle-1 pb-16">{{'DIAGNOSIS'|translate}}</p>
                <div class="pb-24">
                    <list-view [list]="diagnosisData" [prototype]="diagnosisListPrototype" [translateData]="[':4']" [showEditButton]="false" [showDeleteButton]="false"
                        [showCommentButton]="false" [isLoading]="listIsLoading" [showEmptyRows]="false"
                        (onNext)="diagnosisDataControl.pageNumber = $event.pageNumber; fetchData('DIAGNOSIS')"
                        (onPrevious)="diagnosisDataControl.pageNumber = $event.pageNumber; fetchData('DIAGNOSIS')"
                        [showItemsPerPageSelection]="showItemPerPageDropdown(diagnosisData.totalElements!)"
                        (onSizeChange)="diagnosisDataControl.recordSize = $event.pageSize; diagnosisDataControl.pageNumber=0; fetchData('DIAGNOSIS')"></list-view>
                </div>

                <p class="subtitle-1 pb-16">{{'DRUGS'|translate}}</p>
                <list-view [list]="drugData" [prototype]="drugListPrototype" [translateData]="[':4']" [showEditButton]="false" [showDeleteButton]="false"
                    [showCommentButton]="showCommentButton" [commentButtonColor]="'primary'" [isLoading]="listIsLoading" [showEmptyRows]="false"
                    (onNext)="drugsDataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')" [showItemsPerPageSelection]="showItemPerPageDropdown(drugData.totalElements!)"
                    (onComment)="openAddReasonForChangeDecisionDialog($event.id)"
                    [customCells]="{quantity:quantityCustomView, useUnitType:useCustomView, duration:durationCustomView,status:diagnosisStatus, unitPrice:priceCustomView, net:netCustomView, patientShare:patientShareCustomView,totalOfNetAndPatientShare:totalOfNetAndPatientSharecustomview,patientShareVatAmount:patientSharevatValueCustomView}"
                    (onPrevious)="drugsDataControl.pageNumber = $event.pageNumber; fetchData('DRUGS')"
                    (onSizeChange)="drugsDataControl.recordSize = $event.pageSize; drugsDataControl.pageNumber=0; fetchData('DRUGS')"></list-view>
                <ng-template #quantityCustomView let-row="row">
                    {{row.quantity}}
                    <!-- {{row.unitType}} -->
                </ng-template>
                <ng-template #useCustomView let-row="row">
                    {{row.useUnitValue}} {{row.useUnitType}}
                </ng-template>
                <ng-template #durationCustomView let-row="row">
                    {{row.duration}} day(s)
                </ng-template>
                <ng-template #priceCustomView let-row="row">
                    {{row.unitPrice}} SAR
                </ng-template>
                <ng-template #totalOfNetAndPatientSharecustomview let-row="row">
                    {{row.totalOfNetAndPatientShare}} SAR
                </ng-template>
                <ng-template #netCustomView let-row="row">
                    {{row.net}} SAR
                </ng-template>
                <ng-template #patientShareCustomView let-row="row">
                    {{row.patientShare}} SAR
                </ng-template>
                <ng-template #patientSharevatValueCustomView let-row="row">
                    {{row.patientShareVatAmount}} {{row.patientShareVatCurrency}}
                </ng-template>
                <ng-template #diagnosisStatus let-row="row">
                    <select *ngIf="row.status != 'DISPENSED';else dispenseStatus" class="py-14 px-12 text-secondary -my-14 -mx-12 select ltr:pr-40 rtl:pl-40"
                        (change)="getSelectedStatusValue($event, row.drugCode, row.showCommentIcon)"
                        [ngClass]="{'text-success':row.status === 'APPROVED', 'text-error': row.status === 'REJECTED', 'text-warning': row.status === 'PENDING'}">
                        <option *ngFor="let option of statusType; let i = index" class="text-secondary" [hidden]="option.key == 'PENDING'" [selected]="option.key == row.status"
                            [value]="option.key">
                            {{option.value | translate}}
                        </option>
                    </select>

                    <ng-template #dispenseStatus>
                        <span class="text-success">{{row.status | translate}}</span>
                    </ng-template>

                </ng-template>

                <div class="flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px] mt-24 pt-24">
                    <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="cancelModifyDecision()"
                        type="button">{{'CANCEL'|translate}}</waseel-button>
                    <waseel-button type="button" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="saveChanges()">{{'SAVE-CHANGES'|translate}}</waseel-button>
                </div>
            </div>
        </div>
    </div>


</app-base-page>

<waseel-dialog (onClose)="closeAddReasonForChangeDecisionDialog($event)" *ngIf="addReasonForChangeDecisionDialogOpen" size="sm">
    <add-edit-modify-decision-comment-dialog [drugCode]="selectedDrugCode" [decisionDescription]="selectedDecisionDescription"
        [onClose]="closeAddReasonForChangeDecisionDialog"></add-edit-modify-decision-comment-dialog>
</waseel-dialog>