<app-base-page>
    <div page-main-section class="pb-24 pt-88 system-transition main-content">
        <div class="max-w-[1110px] mx-auto">
            <div class="text-center pb-48 pt-24">
                <h5 class="headline-5 !pb-4 text-secondary">{{ (storeService.state$ | async)?.mode == 'followUp' ?
                    ('EDIT-PRESCRIPTION'| translate)
                    :('ADD-PRESCRIPTION'| translate)}}</h5>
                <p class="text-tertiary body-2">{{(storeService.state$ | async)?.mode == 'followUp' ?
                    ('EDIT-PRESCRIPTION-MSG'| translate)
                    :('ADD-PRESCRIPTION-MSG'| translate)}}'</p>
            </div>

            <ul class="flex -mx-8 pb-32">
                <li class="flex-grow-1 basis-0 subtitle-2 px-8 system-transition" [class.text-neutral-400]="((storeService.state$ | async)?.activeStep || 1) < 1"
                    [class.text-primary]="((storeService.state$ | async)?.activeStep || 1) >= 1">
                    <p class="pb-8">1. {{'PAYER-MEMBER'|translate}}</p>
                    <div class="h-4 system-transition" [class.bg-neutral-100]="((storeService.state$ | async)?.activeStep || 1) < 1"
                        [class.bg-primary]="((storeService.state$ | async)?.activeStep || 1) >= 1"></div>
                </li>
                <li class="flex-grow-1 basis-0 subtitle-2 px-8 system-transition" [class.text-neutral-400]="((storeService.state$ | async)?.activeStep || 1) < 2"
                    [class.text-primary]="((storeService.state$ | async)?.activeStep || 1) >= 2">
                    <p class="pb-8">2. {{'DIAGNOSIS'|translate}}</p>
                    <div class="h-4 system-transition" [class.bg-neutral-100]="((storeService.state$ | async)?.activeStep || 1) < 2"
                        [class.bg-primary]="((storeService.state$ | async)?.activeStep || 1) >= 2"></div>
                </li>
                <li class="flex-grow-1 basis-0 subtitle-2 px-8 system-transition" [class.text-neutral-400]="((storeService.state$ | async)?.activeStep || 1) < 3"
                    [class.text-primary]="((storeService.state$ | async)?.activeStep || 1) >= 3">
                    <p class="pb-8">3. {{'DRUGS'|translate}}</p>
                    <div class="h-4 system-transition" [class.bg-neutral-100]="((storeService.state$ | async)?.activeStep || 1) < 3"
                        [class.bg-primary]="((storeService.state$ | async)?.activeStep || 1) >= 3"></div>
                </li>
                <li class="flex-grow-1 basis-0 subtitle-2 px-8 system-transition" [class.text-neutral-400]="((storeService.state$ | async)?.activeStep || 1) < 4"
                    [class.text-primary]="((storeService.state$ | async)?.activeStep || 1) >= 4">
                    <p class="pb-8">4. {{'CONFIRMATION'|translate}}</p>
                    <div class="h-4 system-transition" [class.bg-neutral-100]="((storeService.state$ | async)?.activeStep || 1) < 4"
                        [class.bg-primary]="((storeService.state$ | async)?.activeStep || 1) >= 4"></div>
                </li>
            </ul>

            <ng-container *ngIf="!(isLoading$ | async)">
                <ng-container *ngIf="((storeService.state$ | async)?.activeStep || 1) == 1">
                    <add-prescription-payer-member-step></add-prescription-payer-member-step>
                </ng-container>

                <ng-container *ngIf="((storeService.state$ | async)?.activeStep || 1) == 2">
                    <add-prescription-diagnosis-step></add-prescription-diagnosis-step>
                </ng-container>

                <ng-container *ngIf="((storeService.state$ | async)?.activeStep || 1) == 3">
                    <add-prescription-drugs-step></add-prescription-drugs-step>
                </ng-container>

                <ng-container *ngIf="((storeService.state$ | async)?.activeStep || 1) == 4">
                    <add-prescription-confirmation-step></add-prescription-confirmation-step>
                </ng-container>
            </ng-container>
            <waseel-loading-overlay *ngIf="(isLoading$ | async)"></waseel-loading-overlay>

            <div class="flex">
                <waseel-button color="primary" size="large" variant="text" cssClass="min-w-[120px]" *ngIf="((storeService.state$ | async)?.activeStep || 1) == 1"
                    routerLink="/prescription/list">
                    {{'GO-BACK'|translate}}
                </waseel-button>
                <waseel-button color="primary" size="large" variant="text" cssClass="min-w-[120px]" *ngIf="((storeService.state$ | async)?.activeStep || 1) > 1"
                    (onClick)=" previousStep()">
                    {{'BACK'|translate}}
                </waseel-button>
                <waseel-button *ngIf="((storeService.state$ | async)?.activeStep || 1) == 4" color="primary" size="large" variant="filled" class="ltr:ml-auto rtl:mr-auto"
                    cssClass="min-w-[120px]" (onClick)="saveData()">
                    {{'SUBMIT'|translate}}
                </waseel-button>
                <waseel-button *ngIf="((storeService.state$ | async)?.activeStep || 1) != 4" color="primary" size="large" variant="filled" class="ltr:ml-auto rtl:mr-auto"
                    cssClass="min-w-[120px]" (onClick)="nextStep()">
                    {{'NEXT'|translate}}
                </waseel-button>
            </div>
        </div>
    </div>
</app-base-page>