<div class="p-16 flex items-center border-solid border-b-light-border dark:border-b-neutral-600 border-b-[1px]">
    <h6 class="subtitle-1" *ngIf="dialogMode == 'add'">
        {{'customization.addCustomization'|translate}}</h6>
    <h6 class="subtitle-1" *ngIf="dialogMode == 'edit'">
        {{'customization.editCustomization'|translate}}</h6>
    <waseel-icon-button class="-mt-12 -mb-12 ltr:ml-auto rtl:mr-auto ltr:-mr-12 rtl:-ml-12 system-transition opacity-[.64] hover:opacity-100 focus:opacity-100 active:opacity-100"
        icon="close" (onClick)="closeDialog({status: 'cancel'})" color="default" variant="transparent" [tooltip]="'CLOSE' | translate"></waseel-icon-button>
</div>
<form [formGroup]="customizationForm" (submit)="saveData()">
    <div class="p-16 pb-0">
        <div class="row small-gutter">
            <div class="col-md-6">
                <waseel-select-with-search name="serviceCode" formControlName="serviceCode" title="{{selectedServiceCode}}" [disabled]="dialogMode == 'edit'"
                    [label]="'customization.serviceCode' | translate" [initialOption]="serviceCodeInitialOption" [options]="(lovService.drugsList$ | async) || []"
                    [placeholder]="'SELECT' | translate" (onSearch)="filterDrugs($event)"></waseel-select-with-search>
                    <!-- <waseel-select-with-search [disabled]="dialogMode == 'edit'" name="serviceCode"
                            formControlName="serviceCode"
                            [label]="'customization.serviceCode' | translate"
                            [options]="(lovService.drugsList$ | async) || []"
                            [placeholder]="'SELECT' | translate"
                            (onSearch)="filterDrugs($event)"></waseel-select-with-search> -->
            </div>
            <div class="col-md-6">
                <waseel-select-with-search name="icdCode" formControlName="icdCode" [disabled]="dialogMode == 'edit'" [label]="'customization.icdCode' | translate"
                    [initialOption]="icdCodeInitialOption" title="{{selectedICDCode}}" [options]="(lovService.diagnosisList$ | async) || []" [placeholder]="'SELECT' | translate"
                    (onSearch)="filterDiagnosis($event)"></waseel-select-with-search>
            </div>
            <div class="col-md-6">
                <waseel-select-with-search  *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]" name="payerId" [initialOption]="payerIdInitialOption"  title="{{selectedPayersId}}" formControlName="payerId" [label]="'customization.payer' | translate" [options]="(lovService.payersList$ | async) || []"
                    [placeholder]="'SELECT' | translate" (onSearch)="filterPayers($event)"></waseel-select-with-search>
            </div>
            <div class="col-md-6">
                <waseel-select  *ifHasAnyAllowedAuthority="['101;PBM_ADMIN',]" name="categoryOfApproval" formControlName="categoryOfApproval" [label]="'customization.categoryOfApproval' | translate"
                    [options]="(lovService.categoriesOfApproval$ | async) || []" [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-select name="rejectionCategory" formControlName="rejectionCategory" [label]="'customization.rejectionCategory' | translate" [disabled]="dialogMode == 'edit'"
                    [options]="(lovService.categoriesOfRejection$ | async) || []" [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-select name="serviceStatus" #serviceStatus formControlName="serviceStatus" [label]="'customization.serviceStatus' | translate"
                    [options]="(lovService.drugsStatuses$ | async) || []" [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-select name="moduleName" formControlName="moduleName" [label]="'customization.module' | translate" [options]="(lovService.modulesList$ | async) || []"
                    [placeholder]="'SELECT' | translate"></waseel-select>
            </div>
            <div class="col-md-6">
                <waseel-textbox label="{{'customization.rejectionReason'| translate}}" title="{{selectedRejectionReason}}" formControlName="additionalRejectionReason"
                    placeholder="{{'TYPE-HERE' | translate}}" [hidden]="serviceStatus.value == 'APPROVED'" [maxLength]="500" [minLength]="0"></waseel-textbox>
            </div>
            

        </div>
        <!-- <div class="pb-16">
            <label class="relative checkbox">
                <input type="checkbox" formControlName="overrideIfExists" class="absolute top-0 left-0 opacity-0">
                <span class="body-2 flex items-start">
                    <waseel-icon icon="checkbox-unchecked" *ngIf="!customizationForm.controls['overrideIfExists'].value" cssClass="h-24 w-24 block text-tertiary"></waseel-icon>
                    <waseel-icon icon="checkbox-checked" *ngIf="customizationForm.controls['overrideIfExists'].value" cssClass="h-24 w-24 block text-primary"></waseel-icon>
                    <span class="inline-block ltr:pl-6 rtl:pr-6 align-top !pt-2 relative top-2">{{'OVERRIDE-IF-EXISTS' | translate}}</span>
                </span>
            </label>
        </div> -->
        <waseel-alert *ngIf="errorCode.length > 0" class="mt-16 mb-16 block">
            {{ errorCode}}
        </waseel-alert>
    </div>
    <div class="py-12 px-16 flex justify-end border-solid border-t-light-border dark:border-t-neutral-600 border-t-[1px]">
        <waseel-button variant="tonal" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0" (onClick)="closeDialog({status: 'cancel'})"
            type="button">{{'CANCEL'|translate}}</waseel-button>
        <waseel-button type="submit" class="ltr:mr-8 rtl:ml-8 ltr:last:mr-0 rtl:last:ml-0"
            [disabled]="customizationForm.invalid || (dialogMode == 'edit' && !dataHasChanged()) || (dialogMode == 'add' && !dataHasChanged())">{{'SAVE'|translate}}</waseel-button>
    </div>
</form>