<div class="bg-white rounded-[8px] shadow-1 mb-32">
    <div class="px-24 pt-24 pb-8 border-b border-b-border">
        <div class="row small-gutter">
            <div class="col">
                <div class="group">
                    <waseel-textbox [placeholder]="'SEARCH-ICD-CODE-PLACEHOLDER'|translate"
                        [formControl]="searchFormControl" (onSearch)="getDiagnosis($event)"></waseel-textbox>
                    <div class="relative none group-focus-within:block"
                        *ngIf="((lovService.diagnosisList$ | async)?.length || 0) > 0">
                        <div
                            class="absolute hidden max-h-[300px] overflow-auto group-focus-within:block rounded-[8px] shadow-4 bg-white dark:bg-neutral-800 left-0 top-[calc(100%-16px)] right-0 z-[5]">
                            <ul class="py-8">
                                <li
                                    *ngFor="let diagnosis of  ((lovService.diagnosisList$ | async) || []); let i = index">
                                    <button
                                        class="w-full text-start px-16 block py-10 body-2 text-text dark:text-neutral-25 system-transition hover:bg-neutral-50 dark:hover:bg-neutral-700 focus:bg-neutral-50 dark:focus:bg-neutral-700 active:bg-neutral-50 dark:active:bg-neutral-700"
                                        (click)="selectItem(diagnosis)">
                                        {{diagnosis.value}}
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <waseel-button icon="left" iconName="add" [disabled]="selectedDiagnosis == null"
                    (click)="addSelectedDiagnosis()">{{'ADD'|translate}}</waseel-button>

            </div>
        </div>
    </div>

    <!-- diagnosisList View -->

    <div class="p-24" *ngIf="listViewModel.content.length > 0">

        <list-view [list]="listViewModel" [showEmptyRows]="listViewModel.totalPages != 1" [prototype]="listPrototype"
            [customCells]="{diagnosisType:diagnosisTypeView}"
            [showItemsPerPageSelection]="showItemPerPageDropdown(listViewModel.totalElements!)"
            [showEditButton]="false" [showCommentButton]="false" (onDelete)="onDiagnosisDelete($event)" (onNext)="onListViewPageChange($event)" (onPrevious)="onListViewPageChange($event)"
            (onSizeChange)="onListViewPageSizeChange($event)">
        </list-view>
        <ng-template #diagnosisTypeView let-row="row">
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="row.diagnosisType"
                (ngModelChange)="onDiagnosisTypeChange(row)"
                class="py-14 px-12 text-secondary -my-14 -mx-12 select ltr:pr-40 rtl:pl-40">
                <option value="PRIMARY">
                    {{'PRIMARY'|translate}}
                </option>
                <option value="SECONDARY">
                    {{'SECONDARY'|translate}}
                </option>
            </select>
        </ng-template>
        <waseel-alert *ngIf="showDuplicateError" class="mt-16 mb-16 block">
            {{'prescription.diagnosisSame' | translate}}
        </waseel-alert>
    </div>
</div>