<div class="print-page">
    <header
        class="shadow-4 flex items-center fixed system-transition px-16 bg-white py-10 header full-width print-hidden top-0">
        <div class="flex items-center">
            <waseel-icon-button [tooltip]="'GO-BACK'|translate" variant="transparent" color="default"
                [iconRtlInvert]="true" (click)="goBack()" icon="arrow-left"
                class="system-transition ltr:mr-8 ltr:-ml-8 rtl:ml-8 rtl:-mr-8"></waseel-icon-button>
            <h4 class="headline-6 text-secondary">{{"main.prescription"|translate}} - {{ePrescriptionReferenceNumber}}
            </h4>
        </div>
        <div class="ltr:ml-auto rtl:mr-auto flex items-center">
            <waseel-button icon="left" iconName="printer" (click)="print()">
                {{"PRINT"|translate}}
            </waseel-button>
        </div>
    </header>

    <div class="print-wrapper">
        <div class="caf-form">
            <h1 class="text-center"><strong>UCAF 2.0</strong></h1>
            <table class="layout-table">
                <tr>
                    <td>
                        <div class="form-container-group">
                            <h3><strong>To be completed & ID verified by the reception/nurse:&nbsp;</strong></h3>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Provider Name:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">{{payerMemberPhysicianInfoData.providerName}} &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Insurance Company Name:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">{{payerMemberPhysicianInfoData.payerName}} &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>TPA Company Name:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Patient File Number:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>Dept:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Single (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Married (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Plan Type (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <p>Date of visit:&nbsp; <span class="value-holder"></span></p>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>New visit (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Follow Up (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Refill (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Walk In (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Referral (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div class="form-container-group">
                            <h3><strong>Print/Fill in clear letters or Emboss Card:&nbsp;</strong></h3>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Insured Name:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">
                                            {{payerMemberPhysicianInfoData.memberInfoModel?.memberName}} &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>ID. Card No.:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">
                                            {{payerMemberPhysicianInfoData.memberInfoModel?.idNumber}} &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>Sex:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">{{payerMemberPhysicianInfoData.memberInfoModel?.gender}}
                                            &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>Age:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">{{payerMemberPhysicianInfoData.memberInfoModel?.age}}
                                            &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Policy Holder:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>Policy No.:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Expiry Date:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"></p>
                                    </td>
                                    <td width="10">
                                        <p>Class:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Approval:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-container-group">
                            <h3><strong>To be Completed by the Attending PHYSICIAN:&nbsp; Please tick (<img
                                        src="./assets/check.svg" class="check checked" />)</strong></h3>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Inpatient (<img src="./assets/check.svg" class="check"
                                                [ngClass]="{'checked':payerMemberPhysicianInfoData.caseType == 'INPATIENT'}" />)
                                        </p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Outpatient (<img src="./assets/check.svg" class="check"
                                                [ngClass]="{'checked':payerMemberPhysicianInfoData.caseType == 'OUTPATIENT'}" />)
                                        </p>
                                    </td>
                                    <td></td>
                                    <td width="340">
                                        <div class="round-strip">
                                            <table>
                                                <tr>
                                                    <td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <p><strong>Emergency Case (<img src="./assets/check.svg"
                                                                    class="check" />)</strong></p>
                                                    </td>
                                                    <td width="16">&nbsp;&nbsp;&nbsp;</td>
                                                    <td width="10">
                                                        <p>Emergency Care Level:&nbsp; 1 (<img src="./assets/check.svg"
                                                                class="check" />)</p>
                                                    </td>
                                                    <td width="16">&nbsp;&nbsp;&nbsp;</td>
                                                    <td width="10">
                                                        <p>2 (<img src="./assets/check.svg" class="check" />)</p>
                                                    </td>
                                                    <td width="16">&nbsp;&nbsp;&nbsp;</td>
                                                    <td width="10">
                                                        <p>3 (<img src="./assets/check.svg" class="check" />)</p>
                                                    </td>
                                                    <td width="10">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>BP:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Pulse:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>bpm</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Temp:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>°C</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Weight:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>kg</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Height:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>cm</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>R.R:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Duration of Illness:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>(Days)</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p class="text-wrap">Chief Complaints and Main Symptoms:&nbsp; <br><br></p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Significant Signs:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Other Conditions:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Diagnosis:&nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Principal Code:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder">{{principleCode}} &nbsp;</p>
                                    </td>
                                    <ng-container *ngFor="let code of nonPrimaryCodes; let i = index;">
                                        <td width="16"></td>
                                        <td width="10">
                                            <p>{{(i+2)+'' | ordinalNumber}} Code:&nbsp;</p>
                                        </td>
                                        <td>
                                            <p class="value-holder">{{code}} &nbsp;</p>
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="nonPrimaryCodesExtra.length > 0">
                                    <ng-container *ngFor="let code of nonPrimaryCodesExtra; let i = index;">
                                        <td width="10">
                                            <p>{{(i+9)+'' | ordinalNumber}} Code:&nbsp;</p>
                                        </td>
                                        <td>
                                            <p class="value-holder">{{code}} &nbsp;</p>
                                        </td>
                                        <td width="16"></td>
                                    </ng-container>
                                </tr>
                            </table>
                            <hr>
                            <h3><strong>Please tick (<img src="./assets/check.svg" class="check" />) where
                                    appropriate:&nbsp;</strong></h3>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Chronic (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Congenital (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>RTA (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Work Related (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Vaccination (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Check-Up (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Psychiatric (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Infertility (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Pregnancy (<img src="./assets/check.svg" class="check" />)</p>
                                    </td>
                                    <td></td>
                                    <td width="10">
                                        <p>Indicate LMP:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <p>Suggestive line(s) of Management:&nbsp; Kindly, enumerate the recommended investigations,
                                and/or procedures <strong>For outpatient approvals
                                    only:&nbsp;</strong></p>
                            <table class="data-table">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description/Service</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                        <th>Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let drug of drugData;">
                                        <td>{{drug.drugCode}}</td>
                                        <td>{{drug.drugName}}</td>
                                        <td>{{drug.unitType}}</td>
                                        <td>{{drug.quantity}}</td>
                                        <td>{{drug.unitPrice | number: '1.2-2'}} SAR</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>Providers Approval/Coding Staff must review/code the recommended service(s) and allocate
                                cost and complete the following:&nbsp;</p>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Completed/Coded By:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p>Signature:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td></td>
                                    <td width="10">
                                        <p>Date:&nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>................</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="data-table">
                                <thead>
                                    <tr>
                                        <th>Medication Name (Generic Name)</th>
                                        <th>Type</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>In Case management Form (CMF 1.0) included &nbsp;&nbsp;&nbsp; <strong>
                                    Yes (<img src="./assets/check.svg" class="check" />) &nbsp;&nbsp; No (<img
                                        src="./assets/check.svg" class="check" />)
                                </strong></p>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p>Please specify possible line of management when applicable:&nbsp;</p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p><strong>Estimated Length of stay:&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p>days</p>
                                    </td>
                                    <td></td>
                                    <td width="10">
                                        <p><strong>Expected date of admission:&nbsp;</strong></p>
                                    </td>
                                    <td width="10">
                                        <p>..............</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-container-group">
                            <table class="internal-table">
                                <tr>
                                    <td class="text-wrap">
                                        <p>I hereby certify that ALL information mentioned are correct and that the
                                            medical services shown on this form were medically indicated and
                                            necessary for the management of this case.</p>
                                        <table class="internal-table text-center">
                                            <tr>
                                                <td>
                                                    <p>Physician</p>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <p>Signature</p>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <p>Stamp</p>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <p>Date</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="value-holder"> &nbsp;</p>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <p class="value-holder"> &nbsp;</p>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <span class="stamp"></span>
                                                </td>
                                                <td width="10"></td>
                                                <td>
                                                    <p class="value-holder"></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10"></td>
                                    <td class="border-right"></td>
                                    <td width="10"></td>
                                    <td class="text-wrap">
                                        <p>I hereby certify that ALL statements and information provided concerning
                                            patient identification and the present illness or injury are
                                            TRUE.
                                        </p>
                                        <table class="internal-table">
                                            <tr>
                                                <td width="10">
                                                    <p><strong>Name (and relationship (if guardian)):&nbsp;</strong></p>
                                                </td>
                                                <td>
                                                    <p class="value-holder"> &nbsp;</p>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="internal-table">
                                            <tr>
                                                <td width="10">
                                                    <p>Signature (*):&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p class="value-holder"> &nbsp;</p>
                                                </td>
                                                <td></td>
                                                <td width="10">
                                                    <p>Date:&nbsp;</p>
                                                </td>
                                                <td width="10">
                                                    <p>................</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-container-group">
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p><strong>For Insurance Company Use Only:&nbsp;</strong></p>
                                    </td>
                                    <td width="3"></td>
                                    <td width="10">
                                        <p><strong>Approved (<img src="./assets/check.svg" class="check" />)</strong>
                                        </p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p><strong>Not Approved (<img src="./assets/check.svg"
                                                    class="check" />)</strong></p>
                                    </td>
                                    <td width="16"></td>
                                    <td width="10">
                                        <p><strong>Approval No.:&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p><strong>Approval validity:&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p><strong>Days</strong></p>
                                    </td>
                                </tr>
                            </table>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p><strong>Comments (include approved days/services if different from the
                                                requested):&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <table class="internal-table">
                                <tr>
                                    <td width="10">
                                        <p><strong>Approved/Disapproved By:&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td width="10">
                                        <p><strong>Signature:&nbsp;</strong></p>
                                    </td>
                                    <td>
                                        <p class="value-holder"> &nbsp;</p>
                                    </td>
                                    <td></td>
                                    <td width="10">
                                        <p><strong>Date:&nbsp;</strong></p>
                                    </td>
                                    <td width="10">
                                        <p>................</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;(*) This is applicable only in case of manual UCAF</p>
        </div>
    </div>
</div>